<div id="addsubgroup" class="container-new-personal">
    <div class="container-add-personal">
        <div class="header-task">
            <div class="header-task_title">
                Добавить группу
            </div>
        </div>
    </div>
    <div class="container-group-t">
        <div class="container-input">
            <div class="block-input-label">
                <label>Название группы</label>
                <div class="block-select">
                    <div class="icon-select"></div>
                    <select class="gray-s">
                        <option>ОРХСВ</option>
                        <option>Группа 2</option>
                        <option>Группа 3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="container-input">
            <div class="block-input-label">
                <label>Название </label>
                <input type="text">
            </div>
        </div>
    </div>
    <div class="container-btn-bottom">
        <div class="block-btn-bottom_btn float-r">
            <div class="block-bnt-blue display-top">
                + Добавить
            </div>
        </div>
    </div>
</div>