<div class="container-object">
    <div class="container-object-group">
        <div class="container-object-group_title">
            Группы объектов
            <div class="icon-expand btnResize"></div>
        </div>
        <div class="container-object-group_list">
             <section class="container-accordion-group" data-accordion-group>
                 <!-- 1 -->
                 <section data-accordion class="container-accordion-group_first">
                     <button data-control><span class="img-object"></span>Объекты ОХРСВ</button>
                     <div data-content>
                         <article data-accordion>
                             <button data-control>Ежегодное повышение квалификации</button>
                             <div data-content>
                                 <article data-accordion>
                                     <button data-control>Сдача экзаменов на разряд</button>
                                     <div data-content>
                                         <ul>
                                             <li>
                                                 <a href="#">Экзамены по ТБ</a>
                                             </li>
                                             <li>
                                                 <a href="#">Еженедельная тех. учёба</a>
                                             </li>
                                         </ul>
                                     </div>
                                 </article>
                             </div>
                         </article>
                     </div>
                 </section>
                 <!-- 2 -->
                 <section data-accordion class="container-accordion-group_first">
                     <button data-control><span class="img-object"></span>Омское отделение</button>
                     <div data-content>
                         <ul>
                             <li>
                                 <a href="#">Экзамены по ТБ</a>
                             </li>
                         </ul>
                     </div>
                 </section>
             </section>
        </div>
    </div>
    <div class="container-object-table">
        <table class="table-filter-object" cellspacing="0">
            <thead>
                <tr>
                    <td class="header-td td-object-title">
                        Объект
                        <span class="drop-title"></span>
                    </td>
                    <td class="header-td td-address">
                        Адрес
                        <span class="drop-title"></span>
                    </td>
                    <td class="header-td td-icon">

                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-object-title">
                        <div class="td-object-title_block">
                            <a href="#objectinfo" class="btnPopup" data-width-popup="1315">
                                Центральный офис
                            </a>
                        </div>
                    </td>
                    <td class="td-address">
                        <div class="td-address_block">
                            Московская область, Ленинский район, Володарское сельское поселение,Текстильная улица, 15
                        </div>
                    </td>
                    <td class="td-icon">
                        <div class="td-icon_block">
                            <div class="icon-phone"></div>
                            <div class="icon-map"></div>
                            <div class="icon-dist tooltip-h" data-toggle="tooltip" data-html="true" title="<p>1 нарушение</p>">
                                <div class="number-active">
                                    1
                                </div>
                            </div>
                            <div class="icon-addit">
                                <div class="block-icon-addit btnStatusTask">
                                    <div class="block-status-task">
                                        <a href="#">Редактировать</a>
                                        <a href="#">Заблокировать</a>
                                        <a href="#">Убрать SOS</a>
                                        <a href="#">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="td-object-title">
                        <div class="td-object-title_block">
                            <a href="#info-personal" class="btnPopup" data-width-popup="1315">
                                Офис №2
                            </a>
                        </div>
                    </td>
                    <td class="td-address">
                        <div class="td-address_block">
                            Москва, Центральный административный округ, Красносельский район, Краснопрудная улица,22-24 с1
                        </div>
                    </td>
                    <td class="td-icon">
                        <div class="td-icon_block">
                            <div class="icon-phone"></div>
                            <div class="icon-dist tooltip-h" data-toggle="tooltip" data-html="true" title="<p>1 нарушение</p>">
                                <div class="number-active">
                                    1
                                </div>
                            </div>
                            <div class="icon-addit">
                                <div class="block-icon-addit btnStatusTask"></div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="td-object-title">
                        <div class="td-object-title_block">
                            <a href="#info-personal" class="btnPopup" data-width-popup="1315">
                                Центр отдыха
                            </a>
                        </div>
                    </td>
                    <td class="td-address">
                        <div class="td-address_block">
                            Москва, Новосущевская улица, д. 19Б
                        </div>
                    </td>
                    <td class="td-icon">
                        <div class="td-icon_block">
                            <div class="icon-phone"></div>
                            <div class="icon-dist tooltip-h" data-toggle="tooltip" data-html="true" title="<p>1 нарушение</p>">
                                <div class="number-active">
                                    1
                                </div>
                            </div>
                            <div class="icon-addit">
                                <div class="block-icon-addit btnStatusTask"></div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="td-object-title">
                        <div class="td-object-title_block">
                            <a href="#info-personal" class="btnPopup" data-width-popup="1315">
                                Офис №1
                            </a>
                        </div>
                    </td>
                    <td class="td-address">
                        <div class="td-address_block">
                            Москва, Центральный административный округ, Красносельский район, Краснопрудная улица,22-24 с1
                        </div>
                    </td>
                    <td class="td-icon">
                        <div class="td-icon_block">
                            <div class="icon-phone"></div>
                            <div class="icon-dist tooltip-h" data-toggle="tooltip" data-html="true" title="<p>1 нарушение</p>">
                                <div class="number-active">
                                    1
                                </div>
                            </div>
                            <div class="icon-addit">
                                <div class="block-icon-addit btnStatusTask"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>