<div id="addobject" class="container-new-task">
    <div class="container-add-task">
        <div class="header-task">
            <div class="header-task_title">
                Добавить объект
            </div>
        </div>
    </div>
    <div class="container-object-map">
        <div class="container-object-add">
            <div class="container-input">
                <div class="block-input-label input-name-object">
                    <label>Название объекта</label>
                    <input type="text">
                </div>
                <div class="block-input-label add-group-object">
                    <label>Группа объектов</label>
                    <div class="block-bnt-grey">
                        + Выбрать группу объектов
                    </div>
                </div>
            </div>
            <div class="container-input">
                <div class="block-input-label">
                    <label>Адрес</label>
                    <input type="text">
                </div>
            </div>
            <div class="container-input">
                <div class="block-input-label">
                    <label>Описание</label>
                    <textarea></textarea>
                </div>
            </div>
            <div class="container-input">
                <div class="block-input-label">
                    <label>Группа объектов</label>
                    <div class="block-bnt-grey">
                        + Добавить подразделения
                    </div>
                </div>
            </div>

        </div>
        <div class="container-map-object">

        </div>
    </div>
    <div class="container-btn-bottom">
        <div class="block-btn-bottom_btn float-r">
            <div class="block-bnt-blue display-top">
                Создать объект
            </div>
        </div>
    </div>
</div>