<div id="objectinfo" class="container-new-task">
    <div class="container-add-task">
        <div class="header-task">
            <div class="header-task_title">
                Объект
            </div>
        </div>
    </div>
    <div class="container-object-info">
        <div class="container-object-info-map">

        </div>
        <div class="container-info-object">
            <div class="container-info-object_title">
                Центральный офис
            </div>
            <div class="container-info-object_disc">
                <div class="container-info-object_label-txt w-60">
                    <label>Подразделение</label>
                    <div class="txt">
                        <div class="avatar"></div> ОХРСВ, основной фонд
                    </div>
                </div>
                <div class="container-info-object_label-txt w-40">
                    <label>Статус</label>
                    <div class="txt">
                        Активен
                    </div>
                </div>
                <div class="container-info-object_label-txt">
                    <label>Адрес</label>
                    <div class="txt">
                        Московская область, Ленинский район, Володарское сельское поселение, Текстильная улица, 15
                    </div>
                </div>
                <div class="container-info-object_label-txt">
                    <label>Описание</label>
                    <div class="txt">
                        Группа зданий во главе с штаб-квартирой организации
                    </div>
                </div>
                <div class="container-info-object_label-txt">
                    <label>Подразделение</label>
                    <div class="txt">
                        ОХРСВ
                    </div>
                </div>
                <div class="block-edit-personal">
                    <div class="block-red-personal">
                        <i class="icon-edit"></i> Редактировать
                    </div>
                    <div class="block-del-personal">
                        <i class="icon-trash"></i> Удалить
                    </div>
                    <div class="block-add-task-personal">
                        + Создать задачу
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>