<div id="addgroupt" class="container-new-personal">
    <div class="container-add-personal">
        <div class="header-task">
            <div class="header-task_title">
                Добавить бригаду
            </div>
        </div>
    </div>
    <div class="container-group-t">
        <div class="block-input-label">
            <label>Название категории</label>
            <input type="text">
        </div>
    </div>
    <div class="container-btn-bottom">
        <div class="block-btn-bottom_btn float-r">
            <div class="block-bnt-blue display-top">
                + Добавить
            </div>
        </div>
    </div>
</div>