<div id="addshiftgroup" class="container-new-task">
    <div class="container-add-task">
        <div class="header-task">
            <div class="header-task_title">
                Добавить подгруппу
            </div>
        </div>

        <div class="container-add-shift-group">
            <div class="container-add-shift-group_title">
                Числовой диапазон
            </div>
            <div class="container-input">
                <div class="container-input-50">
                    <div class="block-input-label">
                        <label>От</label>
                        <input type="text">
                    </div>
                </div>
                <div class="container-input-50">
                    <div class="block-input-label">
                        <label>До</label>
                        <input type="text">
                    </div>
                </div>
            </div>

            <div class="container-input">
                <div class="block-input-label">
                    <label>Отдельные номера (n1,n2,n3)</label>
                    <input type="text">
                </div>
            </div>

            <div class="container-input">
                <div class="block-input-label">
                    <label>Добавить числам префикс</label>
                    <input type="text">
                </div>
            </div>
        </div>

        <div class="container-btn-bottom">
            <div class="block-btn-bottom_btn float-r">
                <div class="block-bnt-blue display-top">
                    + Добавить
                </div>
            </div>
        </div>
    </div>
</div>