<div id="shiftaddress" class="container-new-task address-popup">
    <div class="container-add-task">
        <div class="header-task">
            <div class="header-task_title">
                Перенести
            </div>
            <div class="block-search">
                <input type="text" class="block-search-task_input" placeholder="Поиск">
                <div class="icon-search-i">
                    <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M13.657 11.666l2.27 2.27c.097.68.097 1.31 0 1.991-.68.097-1.31.097-1.99 0l-2.242-2.24c-1.12.784-2.448 1.245-3.849 1.245C3.41 14.932 0 11.655 0 7.466 0 3.276 3.41 0 7.846 0c3.811 0 7.086 3.413 7.086 7.466a7.6 7.6 0 0 1-1.275 4.2zm-5.81 1.275c2.692 0 5.094-2.504 5.094-5.475 0-2.972-2.402-5.475-5.095-5.475-3.354 0-5.855 2.404-5.855 5.475 0 3.071 2.501 5.475 5.855 5.475z" id="search-h"/></defs><use fill="#8E9FB6" fill-rule="nonzero" xlink:href="#search-h"/></svg>
                </div>
            </div>
        </div>

        <div class="block-address-p">
            <div class="wrapper-address-p">
                <div class="address-p_accordion">
                    <section class="container-accordion-group" data-accordion-group>
                        <!-- 1 -->
                        <section data-accordion class="container-accordion-group_first">
                            <button data-control>Псковская область</button>
                            <div data-content>
                                <article data-accordion>
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                    <button data-control>Печорский район</button>
                                    <div data-content>
                                        <article data-accordion>
                                            <div class="icon-addit">
                                                <div class="block-icon-addit btnStatusTask"></div>
                                            </div>
                                            <button data-control>Печоры</button>
                                            <div data-content>
                                                <article data-accordion>
                                                    <div class="icon-addit">
                                                        <div class="block-icon-addit btnStatusTask"></div>
                                                    </div>
                                                    <button data-control>Юрало-Ненецковская Автономная улица им. Ямало-Ненецкого автономная республика</button>
                                                    <div data-content>
                                                        <ul>
                                                            <li>
                                                                1
                                                            </li>
                                                            <li>
                                                                2
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </article>
                                            </div>
                                        </article>
                                    </div>
                                </article>
                            </div>
                            <div data-content>
                                <article data-accordion>
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                    <button data-control>Омское отделение</button>
                                    <div data-content>
                                        <ul>
                                            <li>
                                                <a href="#">Офисные здания</a>
                                                <div class="icon-addit">
                                                    <div class="block-icon-addit btnStatusTask"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#">Развлечения</a>
                                                <div class="icon-addit">
                                                    <div class="block-icon-addit btnStatusTask"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#">Подсобное хозяйство</a>
                                                <div class="icon-addit">
                                                    <div class="block-icon-addit btnStatusTask"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </div>

        <div class="container-btn-bottom">
            <div class="block-btn-bottom_check float-l">
                <div class="block-check-txt">
                    <input type="checkbox">
                    <span class="checkbox-custom"></span>
                    <label>Создать подзадачи на каждый объект</label>
                </div>
            </div>
            <div class="block-btn-bottom_btn float-r">
                <div class="block-bnt-blue display-top">
                    Перенести
                </div>
            </div>
        </div>
    </div>
</div>