<div class="container-table-address">
    <div class="wrapper">
        <div class="block-table-address">

            <table class="table-address">
                <thead>
                    <tr>
                        <td class="address_header">Субъект</td>
                        <td class="address_header">Район</td>
                        <td class="address_header">Город</td>
                        <td class="address_header">Населённый пункт</td>
                        <td class="address_header">Улица</td>
                        <td class="address_header">Здание / Дом</td>

                        <td class="address_header">Субъект</td>
                        <td class="address_header">Район</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="address_title">
                            + Добавить субъект
                            <div class="icon-addit">
                                <div class="block-icon-addit btnStatusTask">
                                    <div class="block-status-task">
                                        <a href="#">Редактировать</a>
                                        <!--  class="btnPopup" data-width-popup="592" -->
                                        <a href="#shiftaddress">Перенести</a>
                                        <a href="#">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="address_title">
                            + Добавить район
                            <div class="icon-addit">
                                <div class="block-icon-addit btnStatusTask"></div>
                            </div>
                        </td>
                        <td class="address_title">
                            + Добавить город
                            <div class="icon-addit">
                                <div class="block-icon-addit btnStatusTask"></div>
                            </div>
                        </td>
                        <td class="address_title">
                            + Добавить населённый пункт
                            <div class="icon-addit">
                                <div class="block-icon-addit btnStatusTask"></div>
                            </div>
                        </td>
                        <td class="address_title">
                            + Добавить улицу
                            <div class="icon-addit">
                                <div class="block-icon-addit btnStatusTask"></div>
                            </div>
                        </td>
                        <td class="address_title">
                            + Добавить дом
                            <div class="icon-addit">
                                <div class="block-icon-addit btnStatusTask"></div>
                            </div>
                        </td>

                        <td class="address_title">
                            + Добавить субъект
                            <div class="icon-addit">
                                <div class="block-icon-addit btnStatusTask"></div>
                            </div>
                        </td>
                        <td class="address_title">
                            + Добавить район
                            <div class="icon-addit">
                                <div class="block-icon-addit btnStatusTask"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="block-address_list">
                            <ul>
                                <li>
                                    <a href="#" class="block-blue">Псковская область</a>
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                                <li>
                                    Бурятия
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                                <li>
                                    Ямало-Ненецкий Автономный Округ
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="block-address_list">
                            <ul>
                                <li>
                                    <a href="#" class="block-blue">Псковская область</a>
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                                <li>
                                    Бурятия
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                                <li>
                                    Ямало-Ненецкий Автономный Округ
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="block-address_list">
                            <ul>
                                <li>
                                    <a href="#" class="block-blue">Печоры</a>
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                                <li>
                                    Изборск
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                                <li>
                                    Ямало-Ненецкий Автономный Округ
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                                <li>
                                    Лавры
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="block-address_list">

                        </td>
                        <td class="block-address_list">
                            <ul>
                                <li>
                                    Юрьевская ул.
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="block-blue">Юрало-Ненецковская Автозаводская улица им. Ямало-Ненцево</a>
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                                <li>
                                    Юрало-Ненецковская Автономная улица им. Ямало-Ненцев
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="block-address_list">
                            <ul>
                                <li>
                                    <a href="#" class="block-blue">1</a>
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                                <li>
                                    2
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                                <li>
                                    3
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                            </ul>
                        </td>


                        <td class="block-address_list">
                            <ul>
                                <li>
                                    <a href="#" class="block-blue">Псковская область</a>
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                                <li>
                                    Бурятия
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                                <li>
                                    Ямало-Ненецкий Автономный Округ
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="block-address_list">
                            <ul>
                                <li>
                                    <a href="#" class="block-blue">Псковская область</a>
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                                <li>
                                    Бурятия
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                                <li>
                                    Ямало-Ненецкий Автономный Округ
                                    <div class="icon-addit">
                                        <div class="block-icon-addit btnStatusTask"></div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
        <a href="#addshiftgroup" class="block-add-shift-group btnPopup" data-width-popup="430">
            <div class="icon-plus">
                <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M5 5V1a1 1 0 0 1 2 0v4h4a1 1 0 0 1 0 2H7v4a1 1 0 0 1-2 0V7H1a1 1 0 1 1 0-2h4z" id="plus"/></defs><use fill="#8E9FB6" xlink:href="#plus" fill-rule="evenodd"/></svg>
            </div>
        </a>
    </div>
</div>

//= shift-adress.html
//= shift-group.html


