<div id="chat" class="container-chat-b">
    <div class="header-chat">
        <div class="header-chat_title">
            Чат. Установка мачт освещения по ул. Комсомольской в посёлке Иванова.  Установка мачт освещения по ул. Комсомольской в посёлке Иванова.
        </div>
    </div>
    <div class="container-tabs-task">
        <div class="container-tab-btn">
            <div class="tabs-link current-t" data-tabs="chat-tab-1">
                <span>Чат задачи</span>
            </div>
            <div class="tabs-link" data-tabs="chat-tab-2">
                <div>События<span class="number-active">1</span></div>
            </div>
            <div class="tabs-link" data-tabs="chat-tab-3">
                <div>Звонки<span class="number-active">1</span></div>
            </div>
        </div>

        <div class="container-content-tabs tabs-content current-t" id="chat-tab-1">
            <div class="container-chat">
                <form>
                    <div class="content-message">
                        <div class="message-my">
                            <div class="header-messages">
                                <div class="messages-name">
                                    Василий Лопухин
                                </div>
                                <div class="messages-name-status">
                                    <div class="messages-time">10:54</div>
                                    <div class="icon-read"></div>
                                </div>
                                <a href="#" class="icon-tel"></a>
                            </div>
                            <div class="message-text">
                                <p>Оформляю путевой лист, потом ещё разрешение на выезд. Буду через минут 30-40</p>
                            </div>
                        </div>
                        <div class="message-my">
                            <div class="header-messages">
                                <div class="messages-name">
                                    Василий Лопухин
                                </div>
                                <div class="messages-name-status">
                                    <div class="messages-time">10:58</div>
                                    <div class="icon-sent-check"></div>
                                </div>
                                <a href="#" class="icon-tel"></a>
                            </div>
                            <div class="message-text">
                                <div class="message-add-file">
                                    <div class="maps-coordinate">Отправил фото</div>
                                    <img src="img/img-chat.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="message-you">
                            <div class="header-messages">
                                <div class="messages-name">
                                    Константин Евстегнеевский
                                </div>
                                <div class="messages-name-status">
                                    <div class="messages-time">11:02</div>
                                </div>
                            </div>
                            <div class="message-text">
                                <p>Вася, разрешения на выезд не нужно, я договорился. Задача срочная</p>
                            </div>
                        </div>
                        <div class="message-my check-sms">
                            <div class="header-messages">
                                <div class="messages-name">
                                    Алексей Глазницкий
                                </div>
                                <div class="messages-name-status">
                                    <div class="messages-time">11:34</div>
                                </div>
                                <a href="#" class="icon-tel"></a>
                            </div>
                            <div class="message-text">
                                <p>Я схожу за ним</p>
                            </div>
                        </div>
                    </div>
                    <div class="container-enter-messages">
                        <div class="block-check-messages">
                            <div class="block-check-txt">
                                <input type="checkbox" id="sms">
                                <span class="checkbox-custom"></span>
                                <label for="sms">Послать СМС с оповещением</label>
                            </div>
                        </div>
                        <div class="block-enter-messages">
                            <div class="block-add-file"></div>
                            <div class="block-txt-message">
                                <textarea class="textarea"></textarea>
                            </div>
                            <button class="btn-send"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container-content-tabs tabs-content" id="chat-tab-2">
            <div class="content-events">
                <div class="content-events-txt">
                    <div class="content-events_data-time">
                        12:23    25.05.17
                    </div>
                    <div class="content-events_txt">
                        Выход из геозоны
                    </div>
                </div>
                <div class="content-events-icon icon-out-location"></div>
            </div>

            <div class="content-events">
                <div class="content-events-txt">
                    <div class="content-events_data-time">
                        12:36    25.05.17
                    </div>
                    <div class="content-events_txt">
                        Задача просрочена
                    </div>
                </div>
                <div class="content-events-icon icon-out-time"></div>
            </div>

            <div class="content-events">
                <div class="content-events-txt">
                    <div class="content-events_data-time">
                        12:58    25.05.17
                    </div>
                    <div class="content-events_txt">
                        Задача открыта заново с комментарием  «Выполнена неправильно. Нуждается в переработке»
                    </div>
                </div>
                <div class="content-events-icon icon-return"></div>
            </div>
        </div>

        <div class="container-content-tabs tabs-content" id="chat-tab-3">
            <div class="content-calls">
                <div class="content-calls-txt">
                    <div class="content-calls_data-time">
                        16:42  25.05.17
                    </div>
                    <div class="content-calls_txt">
                        Время разговора 15:23
                    </div>
                </div>
                <div class="content-calls-btn">
                    <div class="icon-play"></div>
                    <div class="icon-pause"></div>
                </div>
            </div>

            <div class="content-calls">
                <div class="content-calls-txt">
                    <div class="content-calls_data-time">
                        16:34  25.05.17
                    </div>
                    <div class="content-calls_txt">
                        Время разговора 04:12
                    </div>
                </div>
                <div class="content-calls-btn">
                    <div class="icon-play"></div>
                    <div class="icon-pause"></div>
                </div>
            </div>

            <div class="content-calls">
                <div class="content-calls-txt">
                    <div class="content-calls_data-time">
                        16:15  25.05.17
                    </div>
                    <div class="content-calls_txt">
                        Время разговора 2:34:54
                    </div>
                </div>
                <div class="content-calls-btn">
                    <div class="icon-play"></div>
                    <div class="icon-pause"></div>
                </div>
            </div>

            <div class="content-calls">
                <div class="content-calls-txt">
                    <div class="content-calls_data-time">
                        16:10  25.05.17
                    </div>
                    <div class="content-calls_txt">
                        Время разговора 14:52:11
                    </div>
                </div>
                <div class="content-calls-btn">
                    <div class="icon-play"></div>
                    <div class="icon-pause"></div>
                </div>
            </div>
        </div>

    </div>
</div>