<div id="addroles" class="container-new-personal">
    <div class="container-add-personal">
        <div class="header-task">
            <div class="header-task_title">
                Отчёт логирование
            </div>
        </div>
    </div>
    <div class="container-roles-edit">
        <div class="container-input">
            <div class="block-input-label w-25">
                <label>Название роли</label>
                <input type="text">
            </div>
        </div>
        <div class="container-input list-check">
            <div class="block-input-label">
                <label>Роли</label>
                <div class="block-filter-task-table">
                    <div class="block-filter-task-table_list">
                        <ul>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f1">
                                    <span class="checkbox-custom"></span>
                                    <label for="f1">Просмотр</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f2">
                                    <span class="checkbox-custom"></span>
                                    <label for="f2">Редактирование</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f3">
                                    <span class="checkbox-custom"></span>
                                    <label for="f3">Создание</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f4">
                                    <span class="checkbox-custom"></span>
                                    <label for="f4">Удаление</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="block-input-label">
                <label>Подразделения</label>
                <div class="block-filter-task-table">
                    <div class="block-filter-task-table_list">
                        <ul>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f21">
                                    <span class="checkbox-custom"></span>
                                    <label for="f21">Просмотр</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f22">
                                    <span class="checkbox-custom"></span>
                                    <label for="f22">Редактирование</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f23">
                                    <span class="checkbox-custom"></span>
                                    <label for="f23">Создание</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f24">
                                    <span class="checkbox-custom"></span>
                                    <label for="f24">Удаление</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f25">
                                    <span class="checkbox-custom"></span>
                                    <label for="f25">Блокировка</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="block-input-label">
                <label>Бригады</label>
                <div class="block-filter-task-table">
                    <div class="block-filter-task-table_list">
                        <ul>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f31">
                                    <span class="checkbox-custom"></span>
                                    <label for="f31">Просмотр</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f32">
                                    <span class="checkbox-custom"></span>
                                    <label for="f32">Редактирование</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f33">
                                    <span class="checkbox-custom"></span>
                                    <label for="f33">Создание</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f34">
                                    <span class="checkbox-custom"></span>
                                    <label for="f34">Удаление</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f35">
                                    <span class="checkbox-custom"></span>
                                    <label for="f35">Блокировка</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="block-input-label">
                <label>Группы объектов</label>
                <div class="block-filter-task-table">
                    <div class="block-filter-task-table_list">
                        <ul>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f41">
                                    <span class="checkbox-custom"></span>
                                    <label for="f41">Просмотр</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f42">
                                    <span class="checkbox-custom"></span>
                                    <label for="f42">Редактирование</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f43">
                                    <span class="checkbox-custom"></span>
                                    <label for="f43">Создание</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f44">
                                    <span class="checkbox-custom"></span>
                                    <label for="f44">Удаление</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f45">
                                    <span class="checkbox-custom"></span>
                                    <label for="f45">Блокировка</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="block-input-label">
                <label>Компания</label>
                <div class="block-filter-task-table">
                    <div class="block-filter-task-table_list">
                        <ul>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f51">
                                    <span class="checkbox-custom"></span>
                                    <label for="f51">Просмотр</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f52">
                                    <span class="checkbox-custom"></span>
                                    <label for="f52">Редактирование</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="block-input-label">
                <label>Компания</label>
                <div class="block-filter-task-table">
                    <div class="block-filter-task-table_list">
                        <ul>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f61">
                                    <span class="checkbox-custom"></span>
                                    <label for="f61">Просмотр</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f62">
                                    <span class="checkbox-custom"></span>
                                    <label for="f62">Редактирование</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="block-input-label">
                <label>Роли</label>
                <div class="block-filter-task-table">
                    <div class="block-filter-task-table_list">
                        <ul>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f71">
                                    <span class="checkbox-custom"></span>
                                    <label for="f71">Просмотр</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f72">
                                    <span class="checkbox-custom"></span>
                                    <label for="f72">Редактирование</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f73">
                                    <span class="checkbox-custom"></span>
                                    <label for="f73">Создание</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f74">
                                    <span class="checkbox-custom"></span>
                                    <label for="f74">Удаление</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="block-input-label">
                <label>Сотрудники</label>
                <div class="block-filter-task-table">
                    <div class="block-filter-task-table_list">
                        <ul>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f81">
                                    <span class="checkbox-custom"></span>
                                    <label for="f81">Просмотр</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f82">
                                    <span class="checkbox-custom"></span>
                                    <label for="f82">Редактирование</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f83">
                                    <span class="checkbox-custom"></span>
                                    <label for="f83">Создание</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f84">
                                    <span class="checkbox-custom"></span>
                                    <label for="f84">Удаление</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f85">
                                    <span class="checkbox-custom"></span>
                                    <label for="f85">Блокировка</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="block-input-label">
                <label>Объекты</label>
                <div class="block-filter-task-table">
                    <div class="block-filter-task-table_list">
                        <ul>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f91">
                                    <span class="checkbox-custom"></span>
                                    <label for="f81">Просмотр</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f92">
                                    <span class="checkbox-custom"></span>
                                    <label for="f92">Редактирование</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f93">
                                    <span class="checkbox-custom"></span>
                                    <label for="f93">Создание</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f94">
                                    <span class="checkbox-custom"></span>
                                    <label for="f84">Удаление</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f95">
                                    <span class="checkbox-custom"></span>
                                    <label for="f95">Блокировка</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="block-input-label">
                <label>Группы заданий</label>
                <div class="block-filter-task-table">
                    <div class="block-filter-task-table_list">
                        <ul>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f101">
                                    <span class="checkbox-custom"></span>
                                    <label for="f101">Просмотр</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f102">
                                    <span class="checkbox-custom"></span>
                                    <label for="f102">Редактирование</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f103">
                                    <span class="checkbox-custom"></span>
                                    <label for="f103">Создание</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f104">
                                    <span class="checkbox-custom"></span>
                                    <label for="f104">Удаление</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f105">
                                    <span class="checkbox-custom"></span>
                                    <label for="f105">Блокировка</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="block-input-label">
                <label>Задания</label>
                <div class="block-filter-task-table">
                    <div class="block-filter-task-table_list">
                        <ul>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f111">
                                    <span class="checkbox-custom"></span>
                                    <label for="f111">Просмотр</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f112">
                                    <span class="checkbox-custom"></span>
                                    <label for="f112">Редактирование</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f113">
                                    <span class="checkbox-custom"></span>
                                    <label for="f113">Создание</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f114">
                                    <span class="checkbox-custom"></span>
                                    <label for="f114">Удаление</label>
                                </div>
                            </li>
                            <li>
                                <div class="block-filter-task">
                                    <input type="checkbox" id="f115">
                                    <span class="checkbox-custom"></span>
                                    <label for="f115">Блокировка</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-btn-bottom">
            <div class="block-btn-bottom_btn float-r">
                 <div class="block-bnt-blue display-top">
                     + Изменить роль
                 </div>
            </div>
        </div>
    </div>
</div>