<div id="info-logging" class="container-link-task">
    <div class="container-add-task">
        <div class="header-task">
            <div class="header-task_title">
                Отчёт логирование
            </div>
        </div>
        <div class="container-info-logging">
            <div class="block-info-logging_label-txt w-22">
                <label>Дата / Время</label>
                <div class="txt">
                    27.05.2017 11:34
                </div>
            </div>

            <div class="block-info-logging_label-txt w-33">
                <label>Пользователь</label>
                <div class="txt-b">
                    Константин Евстегнеевский
                </div>
            </div>

            <div class="block-info-logging_label-txt w-25">
                <label>Роль</label>
                <div class="txt-b">
                    Дистпетчер
                </div>
            </div>

            <div class="block-info-logging_label-txt w-20">
                <label>Подразделение</label>
                <div class="txt-b">
                    ОХРСВ
                </div>
            </div>

            <div class="block-info-logging_label-txt w-22">
                <label>Действие</label>
                <div class="txt">
                    Редактирование
                </div>
            </div>

            <div class="block-info-logging_label-txt w-78">
                <label>Объект изменения</label>
                <div class="txt-b">
                    Специальные курсы по производству работ в зимний период
                </div>
            </div>

            <div class="block-info-logging_label-txt w-100">
                <label>Статус</label>
                <div class="txt">
                    Изменено описание «задача предписывает производить обучение в максимально сжатые сроки. Но в силу сложности усвоения материала, разрешается продлевать обучение на 3 дня» на «задача предписывает производить обучение в максимально сжатые сроки. Но в силу сложности усвоения материала, разрешается продлевать обучение на 2 дня»
                </div>
            </div>
        </div>
    </div>
</div>