<div class="container-table-personal">
    <div class="wrapper">
        <div class="block-table-logging">
            <table class="table-logging" cellspacing="0">
                <thead>
                    <tr>
                        <td class="header-td td-data-time">
                            Дата / Время
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-user">
                            Пользователь
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-position">
                            Роль
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-executor">
                            Подразделение
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-act">
                            Действие
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-object-edit">
                            Объект изменения
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-status">
                            Статус
                            <span class="drop-title"></span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td-data-time">
                            27.05.2017 11:34
                        </td>
                        <td class="td-user">
                            <a href="#info-logging" class="btnPopup" data-width-popup="810">Константин Евстегнеевский</a>
                        </td>
                        <td class="td-position">
                            Дистпетчер
                        </td>
                        <td class="td-executor">
                            ОХРСВ
                        </td>
                        <td class="td-act">
                            Редактирование
                        </td>
                        <td class="td-object-edit">
                            Специальные курсы по производству работ
                        </td>
                        <td class="td-status">
                            Изменено описание "задача препологает участие всех участников"
                        </td>
                    </tr>
                    <tr>
                        <td class="td-data-time">
                            27.05.2017 11:25
                        </td>
                        <td class="td-user">
                            <a href="#">Осипока Евгения Генадьевна</a>
                        </td>
                        <td class="td-position">
                            Дистпетчер
                        </td>
                        <td class="td-executor">
                            ОХРСВ
                        </td>
                        <td class="td-act">
                            Редактирование
                        </td>
                        <td class="td-object-edit">
                            Специальные курсы по производству работ
                        </td>
                        <td class="td-status">
                            Изменено описание "задача препологает участие всех участников"
                        </td>
                    </tr>
            </table>
        </div>
        <div class="block-btn-filter btnFilterTask"></div>
        <div class="block-filter-task-table">
            <div class="block-filter-task-table_title">Отображать столбцы</div>
            <div class="block-filter-task-table_btn-close btnCloseFilterTask">+</div>
            <div class="block-filter-task-table_list">
                <ul>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f1">
                            <span class="checkbox-custom"></span>
                            <label for="f1">Номер задания</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f2">
                            <span class="checkbox-custom"></span>
                            <label for="f2">Исполнитель</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f3">
                            <span class="checkbox-custom"></span>
                            <label for="f3">Поставил</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f4">
                            <span class="checkbox-custom"></span>
                            <label for="f4">Поставлена</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f5">
                            <span class="checkbox-custom"></span>
                            <label for="f5">Начата</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f6">
                            <span class="checkbox-custom"></span>
                            <label for="f6">Срок</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f7">
                            <span class="checkbox-custom"></span>
                            <label for="f7">Статус</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f8">
                            <span class="checkbox-custom"></span>
                            <label for="f8">Срочность</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f9">
                            <span class="checkbox-custom"></span>
                            <label for="f9">Тип</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f10">
                            <span class="checkbox-custom"></span>
                            <label for="f10">Периодичность</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-page-nav">
        <div class="wrapper">
            <div class="block-impressions">
                Всего на странице <span>25</span><span class="drop-title"></span>
            </div>
            <div class="block-nav-page-task">
                <ul>
                    <li class="number-page active">
                        <a href="#">1</a>
                    </li>
                    <li class="number-page">
                        <a href="#">2</a>
                    </li>
                    <li class="number-page">
                        <a href="#">3</a>
                    </li>
                    <li class="number-page-interval">
                        <a href="#">...</a>
                    </li>
                    <li class="number-page">
                        <a href="#">78</a>
                    </li>
                    <li class="btn-next-page">
                        <a href="#">
                            <div class="icon-next-page"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

//= info-logging.html