<header class="header">
    <div class="wrapper">
        <a href="#" class="logo float-l"></a>
        <div class="header-text-left float-l">
            Тест SGC
        </div>
        <!-- Menu Header -->
        <div class="header-menu float-l">
            <ul>
                <li>
                    <a href="#">Задачи</a>
                </li>
                <li>
                    <a href="#">Персонал</a>
                </li>
                <li>
                    <a href="#">Объекты</a>
                </li>
                <li>
                    <a href="#">Отчёты</a>
                </li>
                <li>
                    <a href="#">Управление</a>
                </li>
                <li>
                    <a href="#">Помощь</a>
                </li>
            </ul>
        </div>

        //= notification.html

        //= message.html

        //= search.html

        //= avatar.html

    </div>
</header>