<!-- Container Message -->
<div class="container-message float-r btn-header-menu" data-icon-menu="message">
    <div class="block-icon-menu">
        <svg width="54" height="56" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M21 33h14c.561.073 1-.38 1-1V22c0-.547-.439-1-1-1H20c-.561 0-1 .453-1 1v12l2-1zm-1-15h15c2.236 0 4 1.79 4 4v10c0 2.15-1.764 3.941-4 4H21l-5 3V22c0-2.21 1.764-4 4-4z" id="a2"/></defs><use fill="#D7D7D7" fill-rule="nonzero" xlink:href="#a2"/></svg>
        <div class="number-active">
            4
        </div>
    </div>
</div>