<div class="container-header-task">
    <div class="wrapper">
        <div class="block-search-task">
            <form>
                <input type="text" class="block-search-task_input" placeholder="Поиск">
                <div class="icon-search-i">
                    <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M13.657 11.666l2.27 2.27c.097.68.097 1.31 0 1.991-.68.097-1.31.097-1.99 0l-2.242-2.24c-1.12.784-2.448 1.245-3.849 1.245C3.41 14.932 0 11.655 0 7.466 0 3.276 3.41 0 7.846 0c3.811 0 7.086 3.413 7.086 7.466a7.6 7.6 0 0 1-1.275 4.2zm-5.81 1.275c2.692 0 5.094-2.504 5.094-5.475 0-2.972-2.402-5.475-5.095-5.475-3.354 0-5.855 2.404-5.855 5.475 0 3.071 2.501 5.475 5.855 5.475z" id="search-h"/></defs><use fill="#8E9FB6" fill-rule="nonzero" xlink:href="#search-h"/></svg>
                </div>
            </form>
        </div>
        <div class="block-btn-add-task">
            <a href="#addbrigade" class="btn-add-task btnPopup" data-width-popup="650">
                + Добавить бригаду
            </a>
        </div>
    </div>
</div>

//= new-brigade.html


