<div id="addbrigade" class="container-new-personal">
    <div class="container-add-personal">
        <div class="header-task">
            <div class="header-task_title">
                Добавить бригаду
            </div>
        </div>
    </div>
    <div class="container-new-brigade">
        <div class="container-input">
             <div class="block-input-label">
                 <label>Название</label>
                 <input type="text">
             </div>
        </div>

        <div class="container-input">
            <div class="container-input-50">
                <div class="block-input-label">
                    <label>Подразделение</label>
                    <div class="block-select">
                        <div class="icon-select"></div>
                        <select class="gray-s">
                            <option>Подразделение 1</option>
                            <option>Подразделение 2</option>
                            <option>Подразделение 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="container-input-50">
                <div class="block-input-label">
                    <label>Бригадир</label>
                    <div class="block-select">
                        <div class="icon-select"></div>
                        <select class="gray-s">
                            <option>Бригадир 1</option>
                            <option>Бригадир 2</option>
                            <option>Бригадир 3</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-input">
            <div class="block-input-label">
                <label>Работники</label>
                <div class="block-bnt-grey btn-add-list">+ Добавить персонал</div>
            </div>
        </div>
    </div>
    <div class="container-btn-bottom">
        <div class="block-btn-bottom_btn float-r">
            <div class="block-bnt-blue display-top">
                Сохранить
            </div>
        </div>
    </div>
</div>