<div class="container-table-brigade">
    <div class="wrapper">
        <div class="block-table-filter-brigade">
            <table class="table-filter-brigade" cellspacing="0">
                <thead>
                    <tr>
                        <td class="header-td td-name-personal">
                            Работник
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-position">
                            Должность
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-timezone">
                            Часовой пояс
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-tel">
                            Телефон
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-employment">
                            Занятость
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-icon">

                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-accordion-link">
                        <td colspan="5" class="btn-accordion-table btnAccordTable">
                            <div class="icon-drop-accordion"></div>
                            Сервисные инженеры, ОХРСВ (5)
                        </td>
                        <td colspan="1" class="block-accordion-table-icon">
                            <a href="#" class="icon-unlocked-g"></a>
                            <a href="#" class="icon-trash"></a>
                            <a href="#" class="icon-edit"></a>
                        </td>
                    </tr>
                    <!-- Table accordion -->
                    <tr class="table-accordion-list">
                        <td colspan="6">
                            <table cellspacing="0">
                                <tr>
                                    <td class="td-name-personal">
                                        Анастасия Бровкина <span class="icon-taskmaster"></span>
                                    </td>
                                    <td class="td-position">
                                        Специалист
                                    </td>
                                    <td class="td-timezone">
                                        GMT +2
                                    </td>
                                    <td class="td-tel">
                                        +79654189112
                                    </td>
                                    <td class="td-employment">
                                        <div>Техническое обслуживание вышек связи в городе Печинск Техническое обслуживание вышек</div>
                                    </td>
                                    <td class="td-icon">
                                        <div class="icon-addit btnBrigadeE closeBrigadeE">
                                            <div class="block-icon-addit"></div>
                                            <div class="block-status-brigade">
                                                <a href="#">Редактировать</a>
                                                <a href="#">Заблокировать</a>
                                                <div class="container-podmenu btnPodmenu">Перенести в бригаду
                                                    <span class="icon-next-m">
                                                        <svg width="8" height="8" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M6.971.033L4 2.95c.014.07-.014.07 0 0L1.029.033a3.709 3.709 0 0 0-.99 0 3.095 3.095 0 0 0 0 .972l2.97 2.917c.621.104 1.36.104 1.981 0l2.972-2.917a3.095 3.095 0 0 0 0-.972 3.709 3.709 0 0 0-.99 0z" id="ar"/></defs><use fill="#000" fill-rule="nonzero" xlink:href="#ar" transform="translate(0 2)"/></svg>
                                                    </span>
                                                    <div class="block-podmenu">
                                                        <a href="#" class="active">Сервисные инженеры, ОХРСВ</a>
                                                        <a href="#">Администраторы, ОХРСВ</a>
                                                        <a href="#">Администраторы, Восточный округ</a>
                                                        <a href="#">Не в бригаде</a>
                                                    </div>
                                                </div>
                                                <a href="#">Удалить</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <table cellspacing="0">
                                <tr>
                                    <td class="td-name-personal">
                                        Константин Семёнович Кропоткинский
                                    </td>
                                    <td class="td-position">
                                        Наладчик
                                    </td>
                                    <td class="td-timezone">
                                        GMT +2
                                    </td>
                                    <td class="td-tel">
                                        +79654189035
                                    </td>
                                    <td class="td-employment">
                                        <div>Техническое обслуживание вышек связи в городе Печинск Техническое обслуживание вышек</div>
                                    </td>
                                    <td class="td-icon">
                                        <div class="icon-addit">
                                            <div class="block-icon-addit"></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <table cellspacing="0">
                                <tr>
                                    <td class="td-name-personal">
                                        Василий Власенков
                                    </td>
                                    <td class="td-position">
                                        Тестер
                                    </td>
                                    <td class="td-timezone">
                                        GMT +2
                                    </td>
                                    <td class="td-tel">
                                        +79654189134
                                    </td>
                                    <td class="td-employment small-txt">
                                        <div>Отсутствует</div>
                                    </td>
                                    <td class="td-icon">
                                        <div class="icon-locked">
                                            <div class="block-icon-locked"></div>
                                        </div>
                                        <div class="icon-addit">
                                            <div class="block-icon-addit"></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <table cellspacing="0">
                                <tr>
                                    <td class="td-name-personal">
                                        Николай Потешкин
                                    </td>
                                    <td class="td-position">
                                        Технолог
                                    </td>
                                    <td class="td-timezone">
                                        GMT +2
                                    </td>
                                    <td class="td-tel">
                                        +79654189078
                                    </td>
                                    <td class="td-employment small-txt">
                                        <div>Свободен</div>
                                    </td>
                                    <td class="td-icon">
                                        <div class="icon-addit">
                                            <div class="block-icon-addit"></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr class="table-accordion-link">
                        <td colspan="5" class="btn-accordion-table btnAccordTable">
                            <div class="icon-drop-accordion"></div>
                            Администратор, ОХРСВ (5)
                        </td>
                        <td colspan="1" class="block-accordion-table-icon">
                            <a href="#" class="icon-unlocked-g"></a>
                            <a href="#" class="icon-trash"></a>
                            <a href="#" class="icon-edit"></a>
                        </td>
                    </tr>
                    <!-- Table accordion -->
                    <tr class="table-accordion-list">
                        <td colspan="6">
                            <table cellspacing="0">
                                <tr>
                                    <td class="td-name-personal">
                                        Анастасия Бровкина
                                    </td>
                                    <td class="td-position">
                                        Специалист
                                    </td>
                                    <td class="td-timezone">
                                        GMT +2
                                    </td>
                                    <td class="td-tel">
                                        +79654189112
                                    </td>
                                    <td class="td-employment">
                                        <div>Техническое обслуживание вышек связи в городе Печинск Техническое обслуживание вышек</div>
                                    </td>
                                    <td class="td-icon">

                                    </td>
                                </tr>
                            </table>

                            <table cellspacing="0">
                                <tr>
                                    <td class="td-name-personal">
                                        Константин Семёнович Кропоткинский
                                    </td>
                                    <td class="td-position">
                                        Наладчик
                                    </td>
                                    <td class="td-timezone">
                                        GMT +2
                                    </td>
                                    <td class="td-tel">
                                        +79654189035
                                    </td>
                                    <td class="td-employment">
                                        <div>Техническое обслуживание вышек связи в городе Печинск Техническое обслуживание вышек</div>
                                    </td>
                                    <td class="td-icon">

                                    </td>
                                </tr>
                            </table>
                            <table cellspacing="0">
                                <tr>
                                    <td class="td-name-personal">
                                        Василий Власенков
                                    </td>
                                    <td class="td-position">
                                        Тестер
                                    </td>
                                    <td class="td-timezone">
                                        GMT +2
                                    </td>
                                    <td class="td-tel">
                                        +79654189134
                                    </td>
                                    <td class="td-employment small-txt">
                                        <div>Отсутствует</div>
                                    </td>
                                    <td class="td-icon">

                                    </td>
                                </tr>
                            </table>

                            <table cellspacing="0">
                                <tr>
                                    <td class="td-name-personal">
                                        Николай Потешкин
                                    </td>
                                    <td class="td-position">
                                        Технолог
                                    </td>
                                    <td class="td-timezone">
                                        GMT +2
                                    </td>
                                    <td class="td-tel">
                                        +79654189078
                                    </td>
                                    <td class="td-employment small-txt">
                                        <div>Свободен</div>
                                    </td>
                                    <td class="td-icon">

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr class="table-accordion-link">
                        <td colspan="5" class="btn-accordion-table btnAccordTable">
                            <div class="icon-drop-accordion"></div>
                            Не в бригаде, ОХРСВ (3)
                        </td>
                        <td colspan="1" class="block-accordion-table-icon">
                            <a href="#" class="icon-unlocked-g"></a>
                            <a href="#" class="icon-edit"></a>
                        </td>
                    </tr>
                    <!-- Table accordion -->
                    <tr class="table-accordion-list">
                        <td colspan="6">
                            <table cellspacing="0">
                                <tr>
                                    <td class="td-name-personal">
                                        Анастасия Бровкина
                                    </td>
                                    <td class="td-position">
                                        Специалист
                                    </td>
                                    <td class="td-timezone">
                                        GMT +2
                                    </td>
                                    <td class="td-tel">
                                        +79654189112
                                    </td>
                                    <td class="td-employment">
                                        <div>Техническое обслуживание вышек связи в городе Печинск Техническое обслуживание вышек</div>
                                    </td>
                                    <td class="td-icon">

                                    </td>
                                </tr>
                            </table>

                            <table cellspacing="0">
                                <tr>
                                    <td class="td-name-personal">
                                        Константин Семёнович Кропоткинский
                                    </td>
                                    <td class="td-position">
                                        Наладчик
                                    </td>
                                    <td class="td-timezone">
                                        GMT +2
                                    </td>
                                    <td class="td-tel">
                                        +79654189035
                                    </td>
                                    <td class="td-employment">
                                        <div>Техническое обслуживание вышек связи в городе Печинск Техническое обслуживание вышек</div>
                                    </td>
                                    <td class="td-icon">

                                    </td>
                                </tr>
                            </table>

                            <table cellspacing="0">
                                <tr>
                                    <td class="td-name-personal">
                                        Василий Власенков
                                    </td>
                                    <td class="td-position">
                                        Тестер
                                    </td>
                                    <td class="td-timezone">
                                        GMT +2
                                    </td>
                                    <td class="td-tel">
                                        +79654189134
                                    </td>
                                    <td class="td-employment small-txt">
                                        <div>Отсутствует</div>
                                    </td>
                                    <td class="td-icon">

                                    </td>
                                </tr>
                            </table>

                            <table cellspacing="0">
                                <tr>
                                    <td class="td-name-personal">
                                        Николай Потешкин
                                    </td>
                                    <td class="td-position">
                                        Технолог
                                    </td>
                                    <td class="td-timezone">
                                        GMT +2
                                    </td>
                                    <td class="td-tel">
                                        +79654189078
                                    </td>
                                    <td class="td-employment small-txt">
                                        <div>Свободен</div>
                                    </td>
                                    <td class="td-icon">

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="block-btn-filter btnFilterTask"></div>
        <div class="block-filter-task-table">
            <div class="block-filter-task-table_title">Отображать столбцы</div>
            <div class="block-filter-task-table_btn-close btnCloseFilterTask">+</div>
            <div class="block-filter-task-table_list">
                <ul>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f1">
                            <span class="checkbox-custom"></span>
                            <label for="f1">Номер задания</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f2">
                            <span class="checkbox-custom"></span>
                            <label for="f2">Исполнитель</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f3">
                            <span class="checkbox-custom"></span>
                            <label for="f3">Поставил</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f4">
                            <span class="checkbox-custom"></span>
                            <label for="f4">Поставлена</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f5">
                            <span class="checkbox-custom"></span>
                            <label for="f5">Начата</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f6">
                            <span class="checkbox-custom"></span>
                            <label for="f6">Срок</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f7">
                            <span class="checkbox-custom"></span>
                            <label for="f7">Статус</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f8">
                            <span class="checkbox-custom"></span>
                            <label for="f8">Срочность</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f9">
                            <span class="checkbox-custom"></span>
                            <label for="f9">Тип</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f10">
                            <span class="checkbox-custom"></span>
                            <label for="f10">Периодичность</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>