<div class="container-header-s">
    <div class="wrapper">
        <div class="block-header-list">
            <div class="block-task-list">
                <div>
                    <ul>
                        <li class="block-task-list_link">
                            <a href="#" class="active">Все задачи <span>(124)</span></a>
                        </li>
                        <li class="block-task-list_link">
                            <a href="#">Открытые <span>(64)</span></a>
                        </li>
                        <li class="block-task-list_link">
                            <a href="#">Нераспределённые <span>(10)</span></a>
                        </li>
                        <li class="block-task-list_link">
                            <a href="#">С нарушениями <span>(15)</span></a>
                        </li>
                        <li class="block-task-list_link">
                            <a href="#">Срочные <span>(1)</span></a>
                        </li>
                        <li class="block-task-list_link">
                            <a href="#">Дополнительно 1 <span>(15</span>)</a>
                        </li>
                        <li class="block-task-list_link">
                            <a href="#">Дополнительно 2 <span>(15)</span></a>
                        </li>
                        <li class="block-task-list_link">
                            <a href="#">Дополнительно 3 <span>(15)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="#" class="block-add-tab"> + Добавить вкладку</a>
            <a href="#" class="block-schedule-link"> Расписание <span>(124)</span> </a>
        </div>
    </div>
</div>