<div class="container-header-s">
    <div class="wrapper">
        <div class="block-header-list">
            <div class="block-task-list">
                <div>
                    <ul>
                        <li class="block-task-list_link">
                            <a href="#">Объекты</a>
                        </li>
                        <li class="block-task-list_link">
                            <a href="#">Задачи</a>
                        </li>
                        <li class="block-task-list_link">
                            <a href="#">Бригады</a>
                        </li>
                        <li class="block-task-list_link">
                            <a href="#">Общий</a>
                        </li>
                        <li class="block-task-list_link">
                            <a href="#" class="active">Работники</a>
                        </li>
                        <li class="block-task-list_link">
                            <a href="#">Логирование</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>