<div class="container-header-s">
    <div class="wrapper">
        <div class="block-header-list">
            <div class="block-task-list">
                <div>
                    <ul>
                        <li class="block-task-list_link">
                            <a href="#" class="active">Работники <span>(59)</span></a>
                        </li>
                        <li class="block-task-list_link">
                            <a href="#">Бригады<span>(12)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>