<div id="addposition" class="container-new-personal">
    <div class="container-add-personal">
        <div class="header-task">
            <div class="header-task_title">
                Редактировать должность
            </div>
        </div>
    </div>
    <div class="container-new-position">
        <div class="container-input w-50">
            <div class="block-input-label">
                <label>Категория</label>
                <input type="text">
            </div>
        </div>
        <div class="container-input">
            <div class="block-input-label">
                <label>Название подразделения</label>
                <textarea></textarea>
            </div>
        </div>
    </div>
    <div class="container-btn-bottom">
        <div class="block-btn-bottom_btn float-r">
            <div class="block-bnt-blue display-top">
                + Добавить
            </div>
        </div>
    </div>
</div>


