<div class="container-add-company">
    <div class="container-add-company-logo">
        <div class="block-company-logo">
            <label>Логотип</label>
            <div class="block-company-logo_img">

            </div>
        </div>
        <div class="block-add-company-logo">
            <div class="btn-add-company-logo">
                 + Загрузить логотип
            </div>
        </div>
    </div>
    <div class="container-add-company-info">
        <div class="container-input-50">
            <div class="block-input-label">
                <label>Название</label>
                <input type="text">
            </div>
            <div class="block-input-label">
                <label>Уведомление исполнителям по СМС о новом задании</label>
                <input type="text">
            </div>
            <div class="block-input-label">
                <label>Уведомление исполнителям по СМС о сообщении в чате</label>
                <input type="text">
            </div>
        </div>
        <div class="container-input-50">
            <div class="container-input-50">
                <div class="block-input-label">
                    <label>Часовой пояс</label>
                    <div class="block-select">
                        <div class="icon-select"></div>
                        <select class="gray-s">
                            <option>GMT +4, -4 часа</option>
                            <option>GMT +6, -4 часа</option>
                            <option>GMT +8, -4 часа</option>
                        </select>
                    </div>
                </div>
                <div class="block-input-label">
                    <label>Оповещать диспетчера о следующих событиях</label>
                    <div class="block-filter-task-table">
                        <div class="block-filter-task-table_list">
                            <ul>
                                <li>
                                    <div class="block-filter-task">
                                        <input type="checkbox" id="f1">
                                        <span class="checkbox-custom"></span>
                                        <label for="f1">Номер задания</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="block-filter-task">
                                        <input type="checkbox" id="f2">
                                        <span class="checkbox-custom"></span>
                                        <label for="f2">Исполнитель</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="block-filter-task">
                                        <input type="checkbox" id="f3">
                                        <span class="checkbox-custom"></span>
                                        <label for="f3">Поставил</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="block-filter-task">
                                        <input type="checkbox" id="f4">
                                        <span class="checkbox-custom"></span>
                                        <label for="f4">Поставлена</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-input-50">
                <div class="block-input-label">
                    <label>Подразделение</label>
                    <div class="block-bnt-grey btn-add-list">
                        + Добавить лицензию
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>