<div id="addusers" class="container-new-personal">
    <div class="container-add-personal">
        <div class="header-task">
            <div class="header-task_title">
                Добавить пользователя
            </div>
        </div>
    </div>
    <div class="content-add-personal">
        <div class="container-input">
            <div class="container-input-50">
                <div class="block-input-label">
                    <label>Пользователь</label>
                    <input type="text">
                </div>
            </div>
            <div class="container-input-50">
                <div class="container-input-50">
                    <div class="block-input-label">
                        <label>E-mail</label>
                        <input type="text">
                    </div>
                </div>
                <div class="container-input-50">
                    <div class="block-input-label">
                        <label>Телефон</label>
                        <div class="block-select">
                            <div class="icon-select"></div>
                            <select class="gray-s">
                                <option>+79654189035</option>
                                <option>+79654189835</option>
                                <option>+79624189035</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-input">
            <div class="container-input-50">
                <div class="container-input-50">
                    <div class="block-input-label">
                        <label>Подразделение</label>
                        <div class="block-bnt-grey btn-add-list">
                            + Выбрать подразделение
                        </div>
                    </div>
                </div>
                <div class="container-input-50">
                    <div class="block-input-label">
                        <label>Должность</label>
                        <div class="block-select">
                            <div class="icon-select"></div>
                            <select class="gray-s">
                                <option>Мастер ОХРСВ</option>
                                <option>Мастер ОХРСВ</option>
                                <option>Мастер ОХРСВ</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-input-50">

                <div class="container-input-50">
                    <div class="block-input-label">
                        <label>Роль</label>
                        <div class="block-select">
                            <div class="icon-select"></div>
                            <select class="gray-s">
                                <option>Роль 1</option>
                                <option>Роль 2</option>
                                <option>Роль 3</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="container-input-50">
                    <div class="block-input-label">
                        <label>Часовой пояс</label>
                        <div class="block-select">
                            <div class="icon-select"></div>
                            <select class="gray-s">
                                <option>GMT +4, -4 часа</option>
                                <option>GMT +6, -4 часа</option>
                                <option>GMT +8, -4 часа</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-btn-bottom">
        <div class="block-btn-bottom_btn float-r">
            <div class="block-bnt-grey display-top">
                Сбросить работнику пароль и выслать на почту
            </div>
            <div class="block-bnt-blue display-top">
                + Добавить
            </div>
        </div>
    </div>
</div>