<div class="container-user">
    <div class="container-user-avatar">
        <div class="block-user-avatar" style="background-image: url('img/img-avatar.jpg')"></div>
        <div class="block-user-add">
            <div class="block-user-add_btn btnAddAvatar">
                + Сменить аватарку
            </div>
        </div>
    </div>
    <div class="container-user-info">
        <div class="block-user-name">
            <div class="block-user-name_title">Пользователь</div>
            <div class="block-user-name_name">
                <span>Константин Евстегнеев-Антонов</span><a href="#useredit" class="icon-edit btnPopup" data-width-popup="1315"></a>
            </div>
        </div>

        <div class="wrapper-user-info">
            <div class="block-user-info">
                <div class="block-user-info_title">
                    Роль
                </div>
                <div class="block-user-info_txt">
                    Диспетчер
                </div>
            </div>
            <div class="block-user-info">
                <div class="block-user-info_title">
                    Должность
                </div>
                <div class="block-user-info_txt">
                    Мастер ОХРСВ
                </div>
            </div>
            <div class="block-user-info">
                <div class="block-user-info_title">
                    Подразделение
                </div>
                <div class="block-user-info_txt">
                    Управление
                </div>
            </div>
            <div class="block-user-info">
                <div class="block-user-info_title">
                    Часовой пояс
                </div>
                <div class="block-user-info_txt">
                    GMT +6, -4 часа
                </div>
            </div>
            <div class="block-user-info">
                <div class="block-user-info_title">
                    Местоположение
                </div>
                <div class="block-user-info_txt">
                    Клёцк, Омская область
                </div>
            </div>
        </div>

        <div class="wrapper-user-info">
            <div class="block-user-info">
                <div class="block-user-info_title">
                    Телефон
                </div>
                <div class="block-user-info_txt">
                    +79654189035
                </div>
            </div>
            <div class="block-user-info">
                <div class="block-user-info_title">
                    E-mail
                </div>
                <div class="block-user-info_txt">
                    Evstegenia1276@gmail.com
                </div>
            </div>
        </div>

    </div>
</div>

//= user-edit.html