<div class="container-table-personal">
    <div class="wrapper">
        <div class="block-table-filter-users">
            <table class="table-filter-users" cellspacing="0">
                <thead>
                    <tr>
                        <td class="header-td td-users-title">
                            Пользователь
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-role">
                            Роль
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-timezone">
                            Часовой пояс
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-subdivision">
                            Подразделение
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-position">
                            Должность
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-email">
                            E-mail
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-tel">
                            Телефон
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-icon">

                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td-users-title">
                            <div class="td-users-title_block">
                                <a href="#" class="btnPopup" data-width-popup="1315">
                                    Константин Евстегнеевский
                                </a>
                            </div>
                        </td>
                        <td class="td-role">
                            <div class="td-role_block">
                                Администратор
                            </div>
                        </td>
                        <td class="td-timezone">
                            <div class="td-timezone_block">
                                GMT +2
                            </div>
                        </td>
                        <td class="td-subdivision">
                            <div class="td-subdivision_block">
                                Управление
                            </div>
                        </td>
                        <td class="td-position">
                            <div class="td-position_block">
                                Наладчик
                            </div>
                        </td>

                        <td class="td-email">
                            <div class="td-email_block">
                                Evstegenia1276@gmail.com
                            </div>
                        </td>
                        <td class="td-tel">
                            <div class="td-tel_block">
                                +79654189035
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-addit">
                                    <div class="block-icon-addit btnStatusTask">
                                        <div class="block-status-task">
                                            <a href="#">Редактировать</a>
                                            <a href="#">Заблокировать</a>
                                            <a href="#">Сбросить пароль</a>
                                            <a href="#">Удалить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="td-users-title link-disable">
                            <div class="td-users-title_block">
                                <a href="#" class="btnPopup" data-width-popup="1315">
                                    Анатолий Копнеев
                                </a>
                            </div>
                        </td>
                        <td class="td-role">
                            <div class="td-role_block">
                                —
                            </div>
                        </td>
                        <td class="td-timezone">
                            <div class="td-timezone_block">
                                GMT +2
                            </div>
                        </td>
                        <td class="td-subdivision">
                            <div class="td-subdivision_block">
                                Управление
                            </div>
                        </td>
                        <td class="td-position">
                            <div class="td-position_block">
                                Зам. начальника
                            </div>
                        </td>

                        <td class="td-email">
                            <div class="td-email_block">
                                akopneev34@mail.ru
                            </div>
                        </td>
                        <td class="td-tel">
                            <div class="td-tel_block">
                                +79654189078
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-locked">
                                    <div class="block-icon-locked"></div>
                                </div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit btnStatusTask"></div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="td-users-title">
                            <div class="td-users-title_block">
                                <a href="#" class="btnPopup" data-width-popup="1315">
                                    Лариса Неклюдова
                                </a>
                            </div>
                        </td>
                        <td class="td-role">
                            <div class="td-role_block">
                                Диспетчер
                            </div>
                        </td>
                        <td class="td-timezone">
                            <div class="td-timezone_block">
                                GMT +4, +2 часа
                            </div>
                        </td>
                        <td class="td-subdivision">
                            <div class="td-subdivision_block">
                                ОХРСВ
                            </div>
                        </td>
                        <td class="td-position">
                            <div class="td-position_block">
                                Мастер
                            </div>
                        </td>
                        <td class="td-email">
                            <div class="td-email_block">
                                lara_necroft@gmail.com
                            </div>
                        </td>
                        <td class="td-tel">
                            <div class="td-tel_block">
                                +79654189089
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-addit">
                                    <div class="block-icon-addit btnStatusTask"></div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="block-btn-filter btnFilterTask"></div>
        <div class="block-filter-task-table">
            <div class="block-filter-task-table_title">Отображать столбцы</div>
            <div class="block-filter-task-table_btn-close btnCloseFilterTask">+</div>
            <div class="block-filter-task-table_list">
                <ul>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f1">
                            <span class="checkbox-custom"></span>
                            <label for="f1">Номер задания</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f2">
                            <span class="checkbox-custom"></span>
                            <label for="f2">Исполнитель</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f3">
                            <span class="checkbox-custom"></span>
                            <label for="f3">Поставил</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f4">
                            <span class="checkbox-custom"></span>
                            <label for="f4">Поставлена</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f5">
                            <span class="checkbox-custom"></span>
                            <label for="f5">Начата</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f6">
                            <span class="checkbox-custom"></span>
                            <label for="f6">Срок</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f7">
                            <span class="checkbox-custom"></span>
                            <label for="f7">Статус</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f8">
                            <span class="checkbox-custom"></span>
                            <label for="f8">Срочность</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f9">
                            <span class="checkbox-custom"></span>
                            <label for="f9">Тип</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f10">
                            <span class="checkbox-custom"></span>
                            <label for="f10">Периодичность</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-page-nav">
        <div class="wrapper">
            <div class="block-impressions">
                Всего на странице <span>25</span><span class="drop-title"></span>
            </div>
            <div class="block-nav-page-task">
                <ul>
                    <li class="number-page active">
                        <a href="#">1</a>
                    </li>
                    <li class="number-page">
                        <a href="#">2</a>
                    </li>
                    <li class="number-page">
                        <a href="#">3</a>
                    </li>
                    <li class="number-page-interval">
                        <a href="#">...</a>
                    </li>
                    <li class="number-page">
                        <a href="#">78</a>
                    </li>
                    <li class="btn-next-page">
                        <a href="#">
                            <div class="icon-next-page"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>