<div id="filter-map" class="container-filter-task">
    <div class="header-filter-task">
        <div class="header-filter-task_title">
            Фильтры
        </div>
    </div>
    <div class="content-filter-task">
        <div class="container-three-block">
            <div class="block-input-label">
                <label>Персонал</label>
                <div class="block-bnt-grey btn-add-list">
                    + Добавить персонал
                </div>
                <div class="block-active-paragraph-list">
                    <div class="block-active-paragraph">
                        <div class="block-active-paragraph_title">Анастасия Бровкина</div>
                        <div class="block-active-paragraph_close">+</div>
                    </div>
                    <div class="block-active-paragraph">
                        <div class="block-active-paragraph_title">Константин Семёнович Кропоткинский</div>
                        <div class="block-active-paragraph_close">+</div>
                    </div>
                    <div class="block-active-paragraph">
                        <div class="block-active-paragraph_title">Анастасия Бровкина</div>
                        <div class="block-active-paragraph_close">+</div>
                    </div>
                    <div class="block-active-paragraph">
                        <div class="block-active-paragraph_title">Константин Семёнович Кропоткинский</div>
                        <div class="block-active-paragraph_close">+</div>
                    </div>
                    <div class="block-active-paragraph">
                        <div class="block-active-paragraph_title">Анастасия Бровкина</div>
                        <div class="block-active-paragraph_close">+</div>
                    </div>
                    <div class="block-active-paragraph">
                        <div class="block-active-paragraph_title">Константин Семёнович Кропоткинский</div>
                        <div class="block-active-paragraph_close">+</div>
                    </div>
                </div>
            </div>
            <div class="block-input-label">
                <label>Объекты</label>
                <div class="block-bnt-grey btn-add-list">
                    + Добавить объект
                </div>
                <div class="block-active-paragraph-list">
                    <div class="block-active-paragraph">
                        <div class="block-active-paragraph_title">Обучающий центр, Корпус 3</div>
                        <div class="block-active-paragraph_close">+</div>
                        <div class="block-active-paragraph_txt">Речная 16, Греково, Ростовская обл. Россия </div>
                    </div>
                </div>
            </div>
            <div class="block-input-label">
                <label>Задачи</label>
                <div class="block-bnt-grey btn-add-list">
                    + Добавить задачу
                </div>
                <div class="block-active-paragraph-list">
                    <div class="block-active-paragraph">
                        <div class="block-active-paragraph_title">Техническое обслуживание вышек связи в районе села Кукуевка</div>
                        <div class="block-active-paragraph_close">+</div>
                        <div class="block-active-paragraph_txt">Обслуживание зданий и сооружений</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-btn-bottom">
            <div class="block-btn-bottom_info float-l">
                <span class="quantity">Применено 9</span>
                <span class="btn-clear-filter">Сбросить</span>
            </div>
            <div class="block-btn-bottom_btn float-r">
                <div class="block-bnt-blue display-top">
                    + Применить фильтры
                </div>
            </div>
        </div>
    </div>
</div>