<div class="container-header-task">
    <div class="wrapper">
        <div class="block-list-task-map">
            <a href="#" class="block-list-task-link active">
                <span class="icon-list-b">
                    <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M1 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0 5a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0 5a1 1 0 1 1 0 2 1 1 0 0 1 0-2zM6 0h9a1 1 0 0 1 0 2H6a1 1 0 1 1 0-2zm0 5h9a1 1 0 0 1 0 2H6a1 1 0 1 1 0-2zm0 5h9a1 1 0 0 1 0 2H6a1 1 0 0 1 0-2z" id="icon-list-b"/></defs><use fill="#8e9fb6" xlink:href="#icon-list-b" transform="translate(0 2)" fill-rule="evenodd"/></svg>
                </span>
                Список
            </a>
            <a href="#" class="block-map-link">
                <span class="icon-map-b">
                    <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M6.5 16C4.8 16 0 10.09 0 6.5a6.5 6.5 0 0 1 13 0c0 3.59-4.8 9.5-6.5 9.5zm.407-2.477c.581-.514 1.247-1.263 1.868-2.11C10.128 9.569 11 7.632 11 6.5a4.5 4.5 0 0 0-9 0c0 1.13.872 3.068 2.225 4.914.621.846 1.287 1.595 1.868 2.11.149.131.286.242.407.33.12-.088.258-.199.407-.33zM6.5 8a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" id="icon-map-b"/></defs><use fill="#8E9FB6" fill-rule="nonzero" xlink:href="#icon-map-b" transform="translate(1)"/></svg>
                </span>
                Карта
            </a>
        </div>
        <div class="block-search-task">
            <form>
                <div class="icon-search-i"></div>
                <input type="text" class="block-search-task_input" placeholder="Поиск">
            </form>
        </div>

        <div class="block-add-filter">
            <a href="#filter-map" class="block-add-filter_link btnPopup" data-width-popup="810">
                <span class="icon-f"></span>
                Фильтры
            </a>
        </div>
        <div class="block-list-status">
            <div class="block-list-status_btn btnListStatus">
                <span class="icon-status"></span>Выбрать статус<span class="icon-drop"></span>
            </div>
            <div class="block-list-status_list">
                <ul>
                    <li class="block-status-list">
                        <div class="block-status-label-check">
                            <input type="checkbox">
                            <label>Открыта</label>
                        </div>
                    </li>
                    <li class="block-status-list">
                        <div class="block-status-label-check">
                            <input type="checkbox">
                            <label>Открыта просрочена</label>
                        </div>
                    </li>
                    <li class="block-status-list">
                        <div class="block-status-label-check">
                            <input type="checkbox">
                            <label>Выполнена</label>
                        </div>
                    </li>
                    <li class="block-status-list">
                        <div class="block-status-label-check">
                            <input type="checkbox">
                            <label>Выполнена не в геозоне</label>
                        </div>
                    </li>
                    <li class="block-status-list">
                        <div class="block-status-label-check">
                            <input type="checkbox">
                            <label>Выполнена с опозданием</label>
                        </div>
                    </li>
                    <li class="block-status-list">
                        <div class="block-status-label-check">
                            <input type="checkbox">
                            <label>Пауза</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="block-btn-add-task">
            <a href="#addtask" class="btn-add-task btnPopup" data-width-popup="1315" data-map="map-task">
                + Добавить задачу
            </a>
        </div>
    </div>
</div>

//= ../task/new-task.html

//= filter.html


