<div class="container-map-info">
    <div class="block-map">
        <div id="OSMap" class="map-task"></div>
    </div>
    <div class="block-map-info">
        <div class="map-info_object">
            <div class="map-info_object-title">Объекты</div>
            <div class="block-check-txt">
                <input type="checkbox" id="f1">
                <span class="checkbox-custom"></span>
                <label for="f1">Объекты</label>
                <i class="icon-map-o"></i>
            </div>
            <div class="block-check-txt">
                <input type="checkbox" id="f2">
                <span class="checkbox-custom"></span>
                <label for="f2">Задачи</label>
                <i class="icon-map-t"></i>
            </div>
            <div class="block-check-txt">
                <input type="checkbox" id="f3">
                <span class="checkbox-custom"></span>
                <label for="f3">Персонал</label>
                <i class="icon-map-w"></i>
                <i class="icon-map-t-m"></i>
            </div>
        </div>
        <div class="map-info_enter">
            <div class="block-input-label">
                <label>Перемещение работников</label>
                <div class="block-select">
                    <div class="icon-select"></div>
                    <select class="gray-s">
                        <option>Все работники</option>
                        <option>Анастасия Бровкина</option>
                        <option>Петр Прокофьев</option>
                    </select>
                </div>
            </div>
            <div class="block-input-label block-data-time">
                <label>Начало периода</label>
                <div class="block-data">
                    <i class="icon-cal"></i>
                    Дата
                </div>
                <div class="block-time">
                    <input type="text">
                </div>
            </div>
            <div class="block-input-label block-data-time">
                <label>Конец периода</label>
                <div class="block-data">
                    <i class="icon-cal"></i>
                    Дата
                </div>
                <div class="block-time">
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="block-check-w">
            <div class="block-check-txt">
                <input type="checkbox" id="f4">
                <span class="checkbox-custom"></span>
                <label for="f4">Геозона погрешности</label>
            </div>
        </div>

    </div>
</div>