<div class="container-home-page">
    <div class="container-home-page_tasks">
        <div class="container-home-page_title">Задачи</div>
        <a href="#" class="container-home-page_link">Все задачи</a>
        <table class="table-tasks">

            <thead>
                <tr>
                    <th class="task">Задачи</th>
                    <th class="executor">Исполнитель</th>
                    <th class="data">Срок</th>
                    <th class="status">Статус</th>
                    <th class="icon"></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="task">Техническое обслуживание вышек связи в районе села Кукуевка</td>
                    <td class="executor">Петр Прокофьев</td>
                    <td class="data">27.05.17 11:00</td>
                    <td class="status"><span class="orange">Открыта просрочена</span></td>
                    <td class="icon">
                        <a href="#" class="icon-mes"></a>
                        <span class="icon-phone"></span>
                    </td>
                </tr>
                <tr>
                    <td class="task">Офис №2</td>
                    <td class="executor">Бригада монтёров 8</td>
                    <td class="data">27.05.17 11:30</td>
                    <td class="status"><span class="orange">Открыта просрочена</span></td>
                    <td class="icon">
                        <a href="#" class="icon-mes"></a>
                        <span class="icon-phone"></span>
                    </td>
                </tr>
                <tr>
                    <td class="task">Центр отдыха</td>
                    <td class="executor">Анатолий Васильев и ещё 3</td>
                    <td class="data">27.05.17 12:30</td>
                    <td class="status"><span class="black">Открыта</span></td>
                    <td class="icon">
                        <a href="#" class="icon-mes"></a>
                        <span class="icon-phone"></span>
                    </td>
                </tr>
                <tr>
                    <td class="task">Офис №1</td>
                    <td class="executor">Бригада монтёров 3</td>
                    <td class="data">27.05.17 08:40</td>
                    <td class="status"><span class="red">Выполнена не в геозоне</span></td>
                    <td class="icon">
                        <a href="#" class="icon-mes"></a>
                        <span class="icon-phone"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container-home-page_events-worker">
        <div class="container-home-page_events">
            <div class="container-home-page_title">События</div>
            <a href="#" class="container-home-page_link">Все события</a>
            <table class="table-events">
                <tr>
                    <td>
                        <div class="task">Отредактирована задача</div>
                        <div class="data">27.05.2017 11:34</div>
                        <div class="txt">Техническое обслуживание вышек связи в районе села Кукуевка</div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <div class="task">Закрыта задача</div>
                        <div class="data">27.05.2017 11:34</div>
                        <div class="txt">Техническое обслуживание вышек связи в районе села Кукуевка ехническое обслуживание вышек связи</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="task">Отредактирована задача</div>
                        <div class="data">27.05.2017 11:34</div>
                        <div colspan="2" class="txt">Техническое обслуживание вышек связи в районе села Кукуевка</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="container-home-page_worker">
            <div class="container-home-page_title">Свободные работники</div>
            <a href="#" class="container-home-page_link">Все свободные работники</a>
            <table class="table-worker">
                <tr>
                    <td>
                        <div class="person">
                            <div class="person_name">Агапов Алексей</div>
                            <div class="person_position">Наладчик</div>
                        </div>
                        <div class="position">Оперативная бригада Западное отделение</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="person">
                            <div class="person_name">Нихматченко Валерий Николаевич</div>
                            <div class="person_position">Администратор</div>
                        </div>
                        <div class="position">Администрация Восточный округ</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="person">
                            <div class="person_name">Николай Потешкин</div>
                            <div class="person_position">Технолог</div>
                        </div>
                        <div class="position">Сервисные инженеры ОХРСВ</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="person">
                            <div class="person_name">Анастасия Бровкина</div>
                            <div class="person_position">Наладчик</div>
                        </div>
                        <div class="position">Сервисные инженеры ОХРСВ</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>