<div id="info-personal" class="container-link-task">
    <div class="container-add-task">
        <div class="header-task">
            <div class="header-task_title">
                Работник
            </div>
        </div>
        <div class="container-personal-info">
            <div class="container-map">
                <div class="block-info-map">
                    <div class="container-input">
                        <div class="container-input-50">
                            <div class="block-input-label block-data-time">
                                <label>Дата начала</label>
                                <div class="block-data">
                                    <i class="icon-cal"></i>
                                    Дата
                                </div>
                                <div class="block-time">
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                        <div class="container-input-50">
                            <div class="block-input-label block-data-time">
                                <label>По</label>
                                <div class="block-data">
                                    <i class="icon-cal"></i>
                                    Дата
                                </div>
                                <div class="block-time">
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-personal-info">
                <div class="block-personal-info_name">
                    Андрей Аксёнов
                </div>
                <div class="block-personal-info_disc">
                    <div class="block-personal-info_label-txt w-30">
                        <label>Подразделение</label>
                        <div class="txt-b">
                            ОХРСВ
                        </div>
                    </div>
                    <div class="block-personal-info_label-txt w-30">
                        <label>Бригада</label>
                        <div class="txt-b">
                            Сервисные инженеры
                        </div>
                    </div>
                    <div class="block-personal-info_label-txt w-30">
                        <label>Должность</label>
                        <div class="txt">
                            Наладчик
                        </div>
                    </div>
                    <div class="block-personal-info_label-txt w-30">
                        <label>Телефон</label>
                        <div class="txt">
                            +79654189035
                        </div>
                    </div>
                    <div class="block-personal-info_label-txt w-66">
                        <label>Снятие координат</label>
                        <div class="txt">
                            Каждые 15 минут, в рабочи дни с 14:00 по 15:30
                        </div>
                    </div>
                    <div class="block-personal-info_label-txt w-66">
                        <label>Текущая занятость</label>
                        <div class="txt-b">
                            Основные курсы. Базовая информация и практика
                        </div>
                    </div>
                    <div class="block-personal-info_label-txt w-30">
                        <label>Часовой пояс</label>
                        <div class="txt">
                            GMT +4, +2 часа
                        </div>
                    </div>
                    <div class="block-personal-info_label-txt">
                        <label>Дополнительная информация</label>
                        <div class="txt">
                            Дополнительная иформация о работнике, которая может пригодиться в работе диспетчеров и наблюдателей. Например можно специализацию описывать, личные качества и просто заметки.
                        </div>
                    </div>
                </div>

                <div class="block-edit-personal">
                    <div class="block-red-personal">
                        <i class="icon-edit"></i> Редактировать
                    </div>
                    <div class="block-del-personal">
                        <i class="icon-trash"></i> Удалить
                    </div>
                    <div class="block-add-task-personal">
                         + Добавить задание
                    </div>
                    <div class="block-bell-personal">
                        <i class="icon-tel"></i> Позвонить
                    </div>
                </div>
            </div>

            <div class="block-task-personal">
                <div class="block-task-personal_title">
                    Задания работника
                </div>
                <ul class="block-list-task-p">
                    <li>
                        <a href="#">Работы по специальному наряду</a>
                    </li>
                    <li>
                        <a href="#">Специальные курсы по произвоству обходов на средние и дальние</a>
                    </li>
                    <li>
                        <a href="#">Доставка спец. документации подрядчику</a>
                    </li>
                    <li>
                        <a href="#">Монтаж оборудования производственной части</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>