<div class="container-table-personal">
    <div class="wrapper">
        <div class="block-table-filter-personal">
            <table class="table-filter-personal" cellspacing="0">
                <thead>
                    <tr>
                        <td class="header-td td-export-title">
                            Работник
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-subdivision">
                            Подразделение
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-brigada">
                            Бригада
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-position">
                            Должность
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-timezone">
                            Часовой пояс
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-tel">
                            Телефон
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-status">
                            Статус
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-icon">

                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td-export-title">
                            <div class="td-export-title_block">
                                <a href="#info-personal" class="btnPopup" data-width-popup="1315">
                                    Константин Семёнович Кропоткинский
                                </a>
                            </div>
                        </td>
                        <td class="td-subdivision">
                            <div class="td-subdivision_block">
                                ОХРСВ
                                <!--<span class="icon-clock tooltip-h" data-toggle="tooltip" data-html="true" title="<p class='bold-t'>GMT +4</p><p>разница +2 часа</p>"></span>-->
                            </div>
                        </td>
                        <td class="td-brigada">
                            <div class="td-brigada_block">
                                Сервисные инженеры
                            </div>
                        </td>
                        <td class="td-position">
                            <div class="td-position_block">
                                Наладчик
                            </div>
                        </td>
                        <td class="td-timezone">
                            <div class="td-timezone_block">
                                GMT +2
                            </div>
                        </td>
                        <td class="td-tel">
                            <div class="td-tel_block">
                                +79654189035
                            </div>
                        </td>
                        <td class="td-status">
                            <div class="td-status_block">
                                Работает
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <div class="icon-dist tooltip-h">
                                </div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit btnStatusTask">
                                        <div class="block-status-task">
                                            <a href="#">Редактировать</a>
                                            <a href="#">Заблокировать</a>
                                            <a href="#">Убрать SOS</a>
                                            <a href="#">Удалить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="td-export-title">
                            <div class="td-export-title_block">
                                <a href="#info-personal" class="infoName">
                                    Николай Потешкин
                                </a>
                            </div>
                        </td>
                        <td class="td-subdivision">
                            <div class="td-subdivision_block">
                                ОХРСВ
                            </div>
                        </td>
                        <td class="td-brigada">
                            <div class="td-brigada_block">
                                Сервисные инженеры
                            </div>
                        </td>
                        <td class="td-position">
                            <div class="td-position_block">
                                Технолог
                            </div>
                        </td>
                        <td class="td-timezone">
                            <div class="td-timezone_block">
                                GMT +2
                            </div>
                        </td>
                        <td class="td-tel">
                            <div class="td-tel_block">
                                +79654189035
                            </div>
                        </td>
                        <td class="td-status">
                            <div class="td-status_block">
                                Отсутствует <span class="icon-doci tooltip-h" data-toggle="tooltip" data-html="true" title="<p>Отравился. Не будет <br> до 30 мая</p>"></span>
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <div class="icon-dist tooltip-h" data-toggle="tooltip" data-html="true" title="<p class='bold-t'>Сигнал SOS</p><p>25.05.17 14:35</p>"></div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit"></div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="td-export-title">
                            <div class="td-export-title_block">
                                <a href="#info-personal" class="infoName">
                                    Андрей Аксёнов
                                </a>
                            </div>
                        </td>
                        <td class="td-subdivision">
                            <div class="td-subdivision_block">
                                Восточный округ
                            </div>
                        </td>
                        <td class="td-brigada">
                            <div class="td-brigada_block">
                                Сервисные инженеры
                            </div>
                        </td>
                        <td class="td-position">
                            <div class="td-position_block">
                                Технолог
                            </div>
                        </td>
                        <td class="td-timezone">
                            <div class="td-timezone_block">
                                GMT +4, +2 часа
                            </div>
                        </td>
                        <td class="td-tel">
                            <div class="td-tel_block">
                                +79654189035
                            </div>
                        </td>
                        <td class="td-status">
                            <div class="td-status_block">
                                Работает
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <div class="icon-dist tooltip-h"></div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit"></div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="td-export-title">
                            <div class="td-export-title_block">
                                <a href="#info-personal" class="infoName">
                                    Андрей Аксёнов
                                </a>
                            </div>
                        </td>
                        <td class="td-subdivision">
                            <div class="td-subdivision_block">
                                Восточный округ
                            </div>
                        </td>
                        <td class="td-brigada">
                            <div class="td-brigada_block">
                                Сервисные инженеры
                            </div>
                        </td>
                        <td class="td-position">
                            <div class="td-position_block">
                                Технолог
                            </div>
                        </td>
                        <td class="td-timezone">
                            <div class="td-timezone_block">
                                GMT +4, +2 часа
                            </div>
                        </td>
                        <td class="td-tel">
                            <div class="td-tel_block">
                                +79654189035
                            </div>
                        </td>
                        <td class="td-status">
                            <div class="td-status_block">
                                Работает
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <div class="icon-dist tooltip-h"></div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit"></div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="td-export-title">
                            <div class="td-export-title_block">
                                <a href="#info-personal" class="infoName">
                                    Василий Власенков
                                </a>
                            </div>
                        </td>
                        <td class="td-subdivision">
                            <div class="td-subdivision_block">
                                ОХРСВ
                            </div>
                        </td>
                        <td class="td-brigada">
                            <div class="td-brigada_block">
                                Сервисные инженеры
                            </div>
                        </td>
                        <td class="td-position">
                            <div class="td-position_block">
                                Тестер
                            </div>
                        </td>
                        <td class="td-timezone">
                            <div class="td-timezone_block">
                                GMT +2
                            </div>
                        </td>
                        <td class="td-tel">
                            <div class="td-tel_block">
                                +79654189035
                            </div>
                        </td>
                        <td class="td-status">
                            <div class="td-status_block">
                                Свободен
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <div class="icon-dist tooltip-h"></div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit"></div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="td-export-title">
                            <div class="td-export-title_block">
                                <a href="#info-personal" class="infoName">
                                    Анастасия Бровкина
                                </a>
                            </div>
                        </td>
                        <td class="td-subdivision">
                            <div class="td-subdivision_block">
                                ОХРСВ
                            </div>
                        </td>
                        <td class="td-brigada">
                            <div class="td-brigada_block">
                                Сервисные инженеры
                            </div>
                        </td>
                        <td class="td-position">
                            <div class="td-position_block">
                                Специалист
                            </div>
                        </td>
                        <td class="td-timezone">
                            <div class="td-timezone_block">
                                GMT +2
                            </div>
                        </td>
                        <td class="td-tel">
                            <div class="td-tel_block">
                                +79654189035
                            </div>
                        </td>
                        <td class="td-status">
                            <div class="td-status_block">
                                Работает
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <div class="icon-dist tooltip-h"></div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit"></div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="td-export-title">
                            <div class="td-export-title_block">
                                <a href="#info-personal" class="infoName">
                                    Фёдор Павленский
                                </a>
                            </div>
                        </td>
                        <td class="td-subdivision">
                            <div class="td-subdivision_block">
                                Управление проектами
                            </div>
                        </td>
                        <td class="td-brigada">
                            <div class="td-brigada_block">
                                Сервисные инженеры
                            </div>
                        </td>
                        <td class="td-position">
                            <div class="td-position_block">
                                Специалист
                            </div>
                        </td>
                        <td class="td-timezone">
                            <div class="td-timezone_block">
                                GMT +2
                            </div>
                        </td>
                        <td class="td-tel">
                            <div class="td-tel_block">
                                +79654189035
                            </div>
                        </td>
                        <td class="td-status">
                            <div class="td-status_block">
                                Отсутствует
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <div class="icon-dist tooltip-h"></div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit"></div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="block-btn-filter btnFilterTask"></div>
        <div class="block-filter-task-table">
            <div class="block-filter-task-table_title">Отображать столбцы</div>
            <div class="block-filter-task-table_btn-close btnCloseFilterTask">+</div>
            <div class="block-filter-task-table_list">
                <ul>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f1">
                            <span class="checkbox-custom"></span>
                            <label for="f1">Номер задания</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f2">
                            <span class="checkbox-custom"></span>
                            <label for="f2">Исполнитель</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f3">
                            <span class="checkbox-custom"></span>
                            <label for="f3">Поставил</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f4">
                            <span class="checkbox-custom"></span>
                            <label for="f4">Поставлена</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f5">
                            <span class="checkbox-custom"></span>
                            <label for="f5">Начата</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f6">
                            <span class="checkbox-custom"></span>
                            <label for="f6">Срок</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f7">
                            <span class="checkbox-custom"></span>
                            <label for="f7">Статус</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f8">
                            <span class="checkbox-custom"></span>
                            <label for="f8">Срочность</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f9">
                            <span class="checkbox-custom"></span>
                            <label for="f9">Тип</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f10">
                            <span class="checkbox-custom"></span>
                            <label for="f10">Периодичность</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-page-nav">
        <div class="wrapper">
            <div class="block-impressions">
                Всего на странице <span>25</span><span class="drop-title"></span>
            </div>
            <div class="block-nav-page-task">
                <ul>
                    <li class="number-page active">
                        <a href="#">1</a>
                    </li>
                    <li class="number-page">
                        <a href="#">2</a>
                    </li>
                    <li class="number-page">
                        <a href="#">3</a>
                    </li>
                    <li class="number-page-interval">
                        <a href="#">...</a>
                    </li>
                    <li class="number-page">
                        <a href="#">78</a>
                    </li>
                    <li class="btn-next-page">
                        <a href="#">
                            <div class="icon-next-page"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

//= info-personal.html