<div class="container-table-personal">
    <div class="wrapper">
        <div class="block-table-filter-employees">
            <table class="table-filter-employees" cellspacing="0">
                <thead>
                    <tr>
                        <td class="header-td td-task-title">
                            Работник
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-executor">
                            Подразделение
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-put">
                            Бригада
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-current">
                            Текущие
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-done">
                            Выполнено
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-term">
                            Отменены
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-passed">
                            Пройдено
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-time">
                            Время
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-kpi">
                            KPI
                            <span class="drop-title"></span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td-task-title">
                            Константин Семёнович Кропоткинский
                        </td>
                        <td class="td-executor">
                            ОХРСВ
                        </td>
                        <td class="td-put">
                            Сервисные инженеры
                        </td>
                        <td class="td-current">
                            <span class="allotted">7</span>
                            <span class="spent">1</span>
                        </td>
                        <td class="td-done">
                            <span class="time">564</span>
                            <span class="check">425</span>
                            <span class="spent">105</span>
                        </td>
                        <td class="td-term">
                            7
                        </td>
                        <td class="td-passed">
                            2 457 км
                        </td>
                        <td class="td-time">
                            823ч 23м
                        </td>
                        <td class="td-kpi">
                            89%
                        </td>
                    </tr>
                    <tr>
                        <td class="td-task-title">
                            Николай Потешкин
                        </td>
                        <td class="td-executor">
                            ОХРСВ
                        </td>
                        <td class="td-put">
                            Сервисные инженеры
                        </td>
                        <td class="td-current">
                            <span class="allotted">2</span>
                            <span class="spent">0</span>
                        </td>
                        <td class="td-done">
                            <span class="time">296</span>
                            <span class="check">241</span>
                            <span class="spent">23</span>
                        </td>
                        <td class="td-term">
                            2
                        </td>
                        <td class="td-passed">
                            1 754 км
                        </td>
                        <td class="td-time">
                            534ч 54м
                        </td>
                        <td class="td-kpi">
                            76%
                        </td>
                    </tr>
                    <tr>
                        <td class="td-task-title">
                            Валерия Ильючек
                        </td>
                        <td class="td-executor">
                            ОХРСВ
                        </td>
                        <td class="td-put">
                            Сервисные инженеры
                        </td>
                        <td class="td-current">
                            <span class="allotted">4</span>
                            <span class="spent">3</span>
                        </td>
                        <td class="td-done">
                            <span class="time">244</span>
                            <span class="check">207</span>
                            <span class="spent">23</span>
                        </td>
                        <td class="td-term">
                            4
                        </td>
                        <td class="td-passed">
                            1 643 км
                        </td>
                        <td class="td-time">
                            498ч 34м
                        </td>
                        <td class="td-kpi">
                            82%
                        </td>
                    </tr>
                    <tr>
                        <td class="td-task-title">
                            Фёдор Павленский
                        </td>
                        <td class="td-executor">
                            Управление проектами
                        </td>
                        <td class="td-put">
                            Администраторы
                        </td>
                        <td class="td-current">
                            <span class="allotted">3</span>
                            <span class="spent">0</span>
                        </td>
                        <td class="td-done">
                            <span class="time">204</span>
                            <span class="check">165</span>
                            <span class="spent">23</span>
                        </td>
                        <td class="td-term">
                            3
                        </td>
                        <td class="td-passed">
                            1 530 км
                        </td>
                        <td class="td-time">
                            425ч 74м
                        </td>
                        <td class="td-kpi">
                            84%
                        </td>
                    </tr>
                    <tr>
                        <td class="td-task-title">
                            Анастасия Бровкина
                        </td>
                        <td class="td-executor">
                            ОХРСВ
                        </td>
                        <td class="td-put">
                            Сервисные инженеры
                        </td>
                        <td class="td-current">
                            <span class="allotted">8</span>
                            <span class="spent">1</span>
                        </td>
                        <td class="td-done">
                            <span class="time">150</span>
                            <span class="check">150</span>
                            <span class="spent">0</span>
                        </td>
                        <td class="td-term">
                            8
                        </td>
                        <td class="td-passed">
                            1 056 км
                        </td>
                        <td class="td-time">
                            312ч 23м
                        </td>
                        <td class="td-kpi">
                            100%
                        </td>
                    </tr>
                    <tr>
                        <td class="td-task-title">
                            Борис Евгеньевич Рубенштейн
                        </td>
                        <td class="td-executor">
                            Восточный округ
                        </td>
                        <td class="td-put">
                            Администраторы
                        </td>
                        <td class="td-current">
                            <span class="allotted">7</span>
                            <span class="spent">2</span>
                        </td>
                        <td class="td-done">
                            <span class="time">150</span>
                            <span class="check">120</span>
                            <span class="spent">23</span>
                        </td>
                        <td class="td-term">
                            7
                        </td>
                        <td class="td-passed">
                            1 140 км
                        </td>
                        <td class="td-time">
                            378ч 43м
                        </td>
                        <td class="td-kpi">
                            76%
                        </td>
                    </tr>



                    <tr>
                        <td class="td-task-title">
                            Александр Павлович Арабских
                        </td>
                        <td class="td-executor">
                            ОХРСВ
                        </td>
                        <td class="td-put">
                            Администраторы
                        </td>
                        <td class="td-current">
                            <span class="allotted">15</span>
                            <span class="spent">1</span>
                        </td>
                        <td class="td-done">
                            <span class="time">129</span>
                            <span class="check">106</span>
                            <span class="spent">23</span>
                        </td>
                        <td class="td-term">
                            15
                        </td>
                        <td class="td-passed">
                            921 км
                        </td>
                        <td class="td-time">
                            320ч 47м
                        </td>
                        <td class="td-kpi">
                            78%
                        </td>
                    </tr>

                    <tr>
                        <td class="td-task-title">
                            Дмитрий Сергеевич Барских
                        </td>
                        <td class="td-executor">
                            Управление проектами
                        </td>
                        <td class="td-put">
                            Администраторы
                        </td>
                        <td class="td-current">
                            <span class="allotted">3</span>
                            <span class="spent">0</span>
                        </td>
                        <td class="td-done">
                            <span class="time">68</span>
                            <span class="check">65</span>
                            <span class="spent">0</span>
                        </td>
                        <td class="td-term">
                            3
                        </td>
                        <td class="td-passed">
                            530 км
                        </td>
                        <td class="td-time">
                            134ч 34м
                        </td>
                        <td class="td-kpi">
                            87%
                        </td>
                    </tr>

                    <tr>
                        <td class="td-task-title">
                            Валерий Аксёнов
                        </td>
                        <td class="td-executor">
                            Восточный округ
                        </td>
                        <td class="td-put">
                            Сервисные инженеры
                        </td>
                        <td class="td-current">
                            <span class="allotted">2</span>
                            <span class="spent">0</span>
                        </td>
                        <td class="td-done">
                            <span class="time">57</span>
                            <span class="check">55</span>
                            <span class="spent">0</span>
                        </td>
                        <td class="td-term">
                            2
                        </td>
                        <td class="td-passed">
                            500 км
                        </td>
                        <td class="td-time">
                            120ч 12м
                        </td>
                        <td class="td-kpi">
                            83%
                        </td>
                    </tr>

                    <tr>
                        <td class="td-task-title">
                            Василий Власенков
                        </td>
                        <td class="td-executor">
                            ОХРСВ
                        </td>
                        <td class="td-put">
                            Сервисные инженеры
                        </td>
                        <td class="td-current">
                            <span class="allotted">12</span>
                            <span class="spent">5</span>
                        </td>
                        <td class="td-done">
                            <span class="time">53</span>
                            <span class="check">28</span>
                            <span class="spent">23</span>
                        </td>
                        <td class="td-term">
                            12
                        </td>
                        <td class="td-passed">
                            430 км
                        </td>
                        <td class="td-time">
                            160ч 45м
                        </td>
                        <td class="td-kpi">
                            45%
                        </td>
                    </tr>

                    <tr class="tr-totals">
                        <td class="td-task-title" colspan="3">
                           Итого
                        </td>
                        <td class="td-current">
                            <span class="allotted">63</span>
                            <span class="spent">13</span>
                        </td>
                        <td class="td-done">
                            <span class="time">1915</span>
                            <span class="check">1562</span>
                            <span class="spent">233</span>
                        </td>
                        <td class="td-term">
                            63
                        </td>
                        <td class="td-passed">
                            11 961 км
                        </td>
                        <td class="td-time">
                            3 710ч 29м
                        </td>
                        <td class="td-kpi">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="block-btn-filter btnFilterTask"></div>
        <div class="block-filter-task-table">
            <div class="block-filter-task-table_title">Отображать столбцы</div>
            <div class="block-filter-task-table_btn-close btnCloseFilterTask">+</div>
            <div class="block-filter-task-table_list">
                <ul>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f1">
                            <span class="checkbox-custom"></span>
                            <label for="f1">Номер задания</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f2">
                            <span class="checkbox-custom"></span>
                            <label for="f2">Исполнитель</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f3">
                            <span class="checkbox-custom"></span>
                            <label for="f3">Поставил</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f4">
                            <span class="checkbox-custom"></span>
                            <label for="f4">Поставлена</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f5">
                            <span class="checkbox-custom"></span>
                            <label for="f5">Начата</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f6">
                            <span class="checkbox-custom"></span>
                            <label for="f6">Срок</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f7">
                            <span class="checkbox-custom"></span>
                            <label for="f7">Статус</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f8">
                            <span class="checkbox-custom"></span>
                            <label for="f8">Срочность</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f9">
                            <span class="checkbox-custom"></span>
                            <label for="f9">Тип</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f10">
                            <span class="checkbox-custom"></span>
                            <label for="f10">Периодичность</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>