<div class="container-active-filter">
    <div class="wrapper">
        <div class="container-active-filter_title">
            Применённые фильтры <span class="drop-title"></span>
        </div>
        <a href="#" class="container-active-filter_link">Сбросить</a>
        <div class="block-active-filter-list">
            <div class="block-filter-list">
                <div class="block-filter-list_txt">
                    Поставлена с 21.09.17 14:35 по 22.09.17 15:30
                </div>
                <div class="block-filter-list_close">
                    <div class="block-filter-list_close-icon"></div>
                </div>
            </div>
            <div class="block-filter-list">
                <div class="block-filter-list_txt">
                    Простая задача
                </div>
                <div class="block-filter-list_close">
                    <div class="block-filter-list_close-icon"></div>
                </div>
            </div>
            <div class="block-filter-list">
                <div class="block-filter-list_txt">
                    Поставлена с 21.09.17 14:35 по 22.09.17 15:30
                </div>
                <div class="block-filter-list_close">
                    <div class="block-filter-list_close-icon"></div>
                </div>
            </div>
            <div class="block-filter-list">
                <div class="block-filter-list_txt">
                    Периодическая
                </div>
                <div class="block-filter-list_close">
                    <div class="block-filter-list_close-icon"></div>
                </div>
            </div>
            <div class="block-filter-list">
                <div class="block-filter-list_txt">
                    Простая задача
                </div>
                <div class="block-filter-list_close">
                    <div class="block-filter-list_close-icon"></div>
                </div>
            </div>
            <div class="block-filter-list">
                <div class="block-filter-list_txt">
                    Периодическая
                </div>
                <div class="block-filter-list_close">
                    <div class="block-filter-list_close-icon"></div>
                </div>
            </div>
            <div class="block-filter-list">
                <div class="block-filter-list_txt">
                    Поставлена с 21.09.17 14:35 по 22.09.17 15:30
                </div>
                <div class="block-filter-list_close">
                    <div class="block-filter-list_close-icon"></div>
                </div>
            </div>
            <div class="block-filter-list">
                <div class="block-filter-list_txt">
                    Простая задача
                </div>
                <div class="block-filter-list_close">
                    <div class="block-filter-list_close-icon"></div>
                </div>
            </div>
        </div>
    </div>
</div>