<div class="container-filter-task" id="filter-task">
    <div class="header-filter-task">
        <div class="header-filter-task_title">
            Фильтр
        </div>
    </div>
    <div class="content-filter-task">
        <div class="container-data-filter">

            <!-- 1 -->
            <div class="block-data-filter">
                <label>Поставлена</label>
                <div class="block-cal-clock">
                    <div class="block-data">
                        <i class="icon-cal"></i>
                        Дата
                    </div>
                    <div class="block-time">
                        <input type="text">
                    </div>
                </div>
                <div class="block-cal-clock">
                    <div class="block-data">
                        <i class="icon-cal"></i>
                        Дата
                    </div>
                    <div class="block-time">
                        <input type="text">
                    </div>
                </div>
            </div>

            <!-- 2 -->
            <div class="block-data-filter">
                <label>Срок</label>
                <div class="block-cal-clock">
                    <div class="block-data">
                        <i class="icon-cal"></i>
                        Дата
                    </div>
                    <div class="block-time">
                        <input type="text">
                    </div>
                </div>
                <div class="block-cal-clock">
                    <div class="block-data">
                        <i class="icon-cal"></i>
                        Дата
                    </div>
                    <div class="block-time">
                        <input type="text">
                    </div>
                </div>
            </div>

            <!-- 3 -->
            <div class="block-data-filter">
                <label>Выполнена</label>
                <div class="block-cal-clock">
                    <div class="block-data">
                        <i class="icon-cal"></i>
                        Дата
                    </div>
                    <div class="block-time">
                        <input type="text">
                    </div>
                </div>
                <div class="block-cal-clock">
                    <div class="block-data">
                        <i class="icon-cal"></i>
                        Дата
                    </div>
                    <div class="block-time">
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="container-three-block">
            <div class="block-input-label">
                <label>Повторение</label>
                <div class="block-bnt-grey btn-add-list">
                    + Добавить исполнителя
                </div>
            </div>

            <div class="block-input-label">
                <label>Формирование исполнителей</label>
                <div class="block-select">
                    <div class="icon-select"></div>
                    <select class="gray-s">
                        <option>Бригада 1</option>
                        <option>Бригада 2</option>
                        <option>Бригада 3</option>
                    </select>
                </div>
            </div>

            <div class="block-input-label">
                <label>Тип задачи</label>
                <div class="block-select">
                    <div class="icon-select"></div>
                    <select class="gray-s">
                        <option>Простая</option>
                        <option>Сложная</option>
                    </select>
                </div>
            </div>

            <div class="block-input-label">
                <label>Повторение</label>
                <div class="block-bnt-grey btn-add-list">
                    + Добавить подразделение
                </div>
            </div>

            <div class="block-input-label">
                <label>Поставил задачу</label>
                <div class="block-select">
                    <div class="icon-select"></div>
                    <select class="gray-s">
                        <option>Поставил задачу 1</option>
                        <option>Поставил задачу 2</option>
                        <option>Поставил задачу 3</option>
                    </select>
                </div>
            </div>

            <div class="block-input-label">
                <label>Периодичность</label>
                <div class="block-select">
                    <div class="icon-select"></div>
                    <select class="gray-s">
                        <option>Периодичность 1</option>
                        <option>Периодичность 2</option>
                        <option>Периодичность 3</option>
                    </select>
                </div>
            </div>

            <div class="block-input-label">
                <label>Повторение</label>
                <div class="block-bnt-grey btn-add-list">
                    + Добавить группу
                </div>
            </div>

            <div class="block-input-label">
                <label>Шаблон</label>
                <div class="block-select">
                    <div class="icon-select"></div>
                    <select class="gray-s">
                        <option>Шаблон 1</option>
                        <option>Шаблон 2</option>
                        <option>Шаблон 3</option>
                    </select>
                </div>
            </div>

            <div class="block-input-label">
                <label>Статус</label>
                <div class="block-select">
                    <div class="icon-select"></div>
                    <select class="gray-s">
                        <option>Статус 1</option>
                        <option>Статус 2</option>
                        <option>Статус 3</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="container-btn-bottom">
            <div class="block-btn-bottom_info float-l">
                <span class="quantity">Применено 9</span>
                <span class="btn-clear-filter">Сбросить</span>
            </div>
            <div class="block-btn-bottom_btn float-r">
                <div class="block-bnt-blue display-top">
                    Применить фильтры
                </div>
            </div>
        </div>

    </div>
</div>