<div class="container-slider-calendar">
    <div class="block-slider-calendar">
        <div class="block-slider-calendar_list">
            <div class="slider-calendar-data">
                Июнь 2017
            </div>
            <table class="table-slider-calendar">
                <tbody>
                    <tr>
                        <td class="weekday"></td>
                        <td class="weekday"></td>
                        <td class="weekday"></td>
                        <td class="weekday"></td>
                        <td class="weekday"></td>
                        <td class="output">1</td>
                        <td class="output">2</td>
                    </tr>
                    <tr>
                        <td class="weekday">3</td>
                        <td class="weekday">4</td>
                        <td class="weekday">5</td>
                        <td class="weekday">6</td>
                        <td class="weekday">7</td>
                        <td class="output">8</td>
                        <td class="output">9</td>
                    </tr>
                    <tr>
                        <td class="weekday">10</td>
                        <td class="weekday">11</td>
                        <td class="weekday blue">12</td>
                        <td class="weekday blue">13</td>
                        <td class="weekday">14</td>
                        <td class="output">15</td>
                        <td class="output">16</td>
                    </tr>
                    <tr>
                        <td class="weekday">17</td>
                        <td class="weekday">18</td>
                        <td class="weekday">19</td>
                        <td class="weekday">20</td>
                        <td class="weekday">21</td>
                        <td class="output">22</td>
                        <td class="output">23</td>
                    </tr>
                    <tr>
                        <td class="weekday">24</td>
                        <td class="weekday">25</td>
                        <td class="weekday">26</td>
                        <td class="weekday">27</td>
                        <td class="weekday">28</td>
                        <td class="output">29</td>
                        <td class="output">30</td>
                    </tr>
                    <tr>
                        <td class="weekday">31</td>
                        <td class="weekday"></td>
                        <td class="weekday"></td>
                        <td class="weekday"></td>
                        <td class="weekday"></td>
                        <td class="output"></td>
                        <td class="output"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="block-slider-calendar_list">
            <div class="slider-calendar-data">
                Июль 2017
            </div>
            <table class="table-slider-calendar">
                <tbody>
                    <tr>
                        <td class="weekday"></td>
                        <td class="weekday">1</td>
                        <td class="weekday">2</td>
                        <td class="weekday">3</td>
                        <td class="weekday">4</td>
                        <td class="output">5</td>
                        <td class="output">6</td>
                    </tr>
                    <tr>
                        <td class="weekday">7</td>
                        <td class="weekday">8</td>
                        <td class="weekday">9</td>
                        <td class="weekday">10</td>
                        <td class="weekday">11</td>
                        <td class="output">12</td>
                        <td class="output">13</td>
                    </tr>
                    <tr>
                        <td class="weekday">14</td>
                        <td class="weekday blue">15</td>
                        <td class="weekday blue">16</td>
                        <td class="weekday">17</td>
                        <td class="weekday active">18</td>
                        <td class="output">19</td>
                        <td class="output">20</td>
                    </tr>
                    <tr>
                        <td class="weekday">21</td>
                        <td class="weekday">22</td>
                        <td class="weekday blue">23</td>
                        <td class="weekday blue">24</td>
                        <td class="weekday">25</td>
                        <td class="output">26</td>
                        <td class="output">27</td>
                    </tr>
                    <tr>
                        <td class="weekday">28</td>
                        <td class="weekday">29</td>
                        <td class="weekday">30</td>
                        <td class="weekday"></td>
                        <td class="weekday"></td>
                        <td class="output"></td>
                        <td class="output"></td>
                    </tr>
                    <tr>
                        <td class="weekday"></td>
                        <td class="weekday"></td>
                        <td class="weekday"></td>
                        <td class="weekday"></td>
                        <td class="weekday"></td>
                        <td class="output"></td>
                        <td class="output"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="block-slider-calendar_list">
            <div class="slider-calendar-data">
                Август 2017
            </div>
            <table class="table-slider-calendar">
                <tbody>
                <tr>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday">1</td>
                    <td class="weekday">2</td>
                    <td class="output">3</td>
                    <td class="output">4</td>
                </tr>
                <tr>
                    <td class="weekday">5</td>
                    <td class="weekday">6</td>
                    <td class="weekday blue">7</td>
                    <td class="weekday">8</td>
                    <td class="weekday">9</td>
                    <td class="output">10</td>
                    <td class="output">11</td>
                </tr>
                <tr>
                    <td class="weekday">12</td>
                    <td class="weekday blue">13</td>
                    <td class="weekday">14</td>
                    <td class="weekday">15</td>
                    <td class="weekday">16</td>
                    <td class="output">17</td>
                    <td class="output">18</td>
                </tr>
                <tr>
                    <td class="weekday">19</td>
                    <td class="weekday blue">20</td>
                    <td class="weekday blue">21</td>
                    <td class="weekday">22</td>
                    <td class="weekday">23</td>
                    <td class="output">24</td>
                    <td class="output">25</td>
                </tr>
                <tr>
                    <td class="weekday">26</td>
                    <td class="weekday">27</td>
                    <td class="weekday">28</td>
                    <td class="weekday">29</td>
                    <td class="weekday">30</td>
                    <td class="output">31</td>
                    <td class="output"></td>
                </tr>
                <tr>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="output"></td>
                    <td class="output"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="block-slider-calendar_list">
            <div class="slider-calendar-data">
                Сентябрь 2017
            </div>
            <table class="table-slider-calendar">
                <tbody>
                <tr>
                    <td class="weekday">1</td>
                    <td class="weekday">2</td>
                    <td class="weekday">3</td>
                    <td class="weekday">4</td>
                    <td class="weekday">5</td>
                    <td class="output">6</td>
                    <td class="output">7</td>
                </tr>
                <tr>
                    <td class="weekday">8</td>
                    <td class="weekday">9</td>
                    <td class="weekday">10</td>
                    <td class="weekday">11</td>
                    <td class="weekday">12</td>
                    <td class="output">13</td>
                    <td class="output">14</td>
                </tr>
                <tr>
                    <td class="weekday">15</td>
                    <td class="weekday">16</td>
                    <td class="weekday">17</td>
                    <td class="weekday">18</td>
                    <td class="weekday">19</td>
                    <td class="output">20</td>
                    <td class="output">21</td>
                </tr>
                <tr>
                    <td class="weekday">22</td>
                    <td class="weekday">23</td>
                    <td class="weekday">24</td>
                    <td class="weekday">25</td>
                    <td class="weekday">26</td>
                    <td class="output">27</td>
                    <td class="output">28</td>
                </tr>
                <tr>
                    <td class="weekday">29</td>
                    <td class="weekday">30</td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="output"></td>
                    <td class="output"></td>
                </tr>
                <tr>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="output"></td>
                    <td class="output"></td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="block-slider-calendar_list">
            <div class="slider-calendar-data">
                Июнь 2017
            </div>
            <table class="table-slider-calendar">
                <tbody>
                <tr>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="output">1</td>
                    <td class="output">2</td>
                </tr>
                <tr>
                    <td class="weekday">3</td>
                    <td class="weekday">4</td>
                    <td class="weekday">5</td>
                    <td class="weekday">6</td>
                    <td class="weekday">7</td>
                    <td class="output">8</td>
                    <td class="output">9</td>
                </tr>
                <tr>
                    <td class="weekday">10</td>
                    <td class="weekday">11</td>
                    <td class="weekday blue">12</td>
                    <td class="weekday blue">13</td>
                    <td class="weekday">14</td>
                    <td class="output">15</td>
                    <td class="output">16</td>
                </tr>
                <tr>
                    <td class="weekday">17</td>
                    <td class="weekday">18</td>
                    <td class="weekday">19</td>
                    <td class="weekday">20</td>
                    <td class="weekday">21</td>
                    <td class="output">22</td>
                    <td class="output">23</td>
                </tr>
                <tr>
                    <td class="weekday">24</td>
                    <td class="weekday">25</td>
                    <td class="weekday">26</td>
                    <td class="weekday">27</td>
                    <td class="weekday">28</td>
                    <td class="output">29</td>
                    <td class="output">30</td>
                </tr>
                <tr>
                    <td class="weekday">31</td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="output"></td>
                    <td class="output"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="block-slider-calendar_list">
            <div class="slider-calendar-data">
                Июль 2017
            </div>
            <table class="table-slider-calendar">
                <tbody>
                <tr>
                    <td class="weekday"></td>
                    <td class="weekday">1</td>
                    <td class="weekday">2</td>
                    <td class="weekday">3</td>
                    <td class="weekday">4</td>
                    <td class="output">5</td>
                    <td class="output">6</td>
                </tr>
                <tr>
                    <td class="weekday">7</td>
                    <td class="weekday">8</td>
                    <td class="weekday">9</td>
                    <td class="weekday">10</td>
                    <td class="weekday">11</td>
                    <td class="output">12</td>
                    <td class="output">13</td>
                </tr>
                <tr>
                    <td class="weekday">14</td>
                    <td class="weekday blue">15</td>
                    <td class="weekday blue">16</td>
                    <td class="weekday">17</td>
                    <td class="weekday active">18</td>
                    <td class="output">19</td>
                    <td class="output">20</td>
                </tr>
                <tr>
                    <td class="weekday">21</td>
                    <td class="weekday">22</td>
                    <td class="weekday blue">23</td>
                    <td class="weekday blue">24</td>
                    <td class="weekday">25</td>
                    <td class="output">26</td>
                    <td class="output">27</td>
                </tr>
                <tr>
                    <td class="weekday">28</td>
                    <td class="weekday">29</td>
                    <td class="weekday">30</td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="output"></td>
                    <td class="output"></td>
                </tr>
                <tr>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="output"></td>
                    <td class="output"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="block-slider-calendar_list">
            <div class="slider-calendar-data">
                Август 2017
            </div>
            <table class="table-slider-calendar">
                <tbody>
                <tr>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday">1</td>
                    <td class="weekday">2</td>
                    <td class="output">3</td>
                    <td class="output">4</td>
                </tr>
                <tr>
                    <td class="weekday">5</td>
                    <td class="weekday">6</td>
                    <td class="weekday blue">7</td>
                    <td class="weekday">8</td>
                    <td class="weekday">9</td>
                    <td class="output">10</td>
                    <td class="output">11</td>
                </tr>
                <tr>
                    <td class="weekday">12</td>
                    <td class="weekday blue">13</td>
                    <td class="weekday">14</td>
                    <td class="weekday">15</td>
                    <td class="weekday">16</td>
                    <td class="output">17</td>
                    <td class="output">18</td>
                </tr>
                <tr>
                    <td class="weekday">19</td>
                    <td class="weekday blue">20</td>
                    <td class="weekday blue">21</td>
                    <td class="weekday">22</td>
                    <td class="weekday">23</td>
                    <td class="output">24</td>
                    <td class="output">25</td>
                </tr>
                <tr>
                    <td class="weekday">26</td>
                    <td class="weekday">27</td>
                    <td class="weekday">28</td>
                    <td class="weekday">29</td>
                    <td class="weekday">30</td>
                    <td class="output">31</td>
                    <td class="output"></td>
                </tr>
                <tr>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="output"></td>
                    <td class="output"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="block-slider-calendar_list">
            <div class="slider-calendar-data">
                Сентябрь 2017
            </div>
            <table class="table-slider-calendar">
                <tbody>
                <tr>
                    <td class="weekday">1</td>
                    <td class="weekday">2</td>
                    <td class="weekday">3</td>
                    <td class="weekday">4</td>
                    <td class="weekday">5</td>
                    <td class="output">6</td>
                    <td class="output">7</td>
                </tr>
                <tr>
                    <td class="weekday">8</td>
                    <td class="weekday">9</td>
                    <td class="weekday">10</td>
                    <td class="weekday">11</td>
                    <td class="weekday">12</td>
                    <td class="output">13</td>
                    <td class="output">14</td>
                </tr>
                <tr>
                    <td class="weekday">15</td>
                    <td class="weekday">16</td>
                    <td class="weekday">17</td>
                    <td class="weekday">18</td>
                    <td class="weekday">19</td>
                    <td class="output">20</td>
                    <td class="output">21</td>
                </tr>
                <tr>
                    <td class="weekday">22</td>
                    <td class="weekday">23</td>
                    <td class="weekday">24</td>
                    <td class="weekday">25</td>
                    <td class="weekday">26</td>
                    <td class="output">27</td>
                    <td class="output">28</td>
                </tr>
                <tr>
                    <td class="weekday">29</td>
                    <td class="weekday">30</td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="output"></td>
                    <td class="output"></td>
                </tr>
                <tr>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="weekday"></td>
                    <td class="output"></td>
                    <td class="output"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>