<div class="container-table-task">
    <div class="wrapper">
        <div class="block-table-filter-task">
            <table class="table-filter-task" cellspacing="0">
                <thead>
                    <tr>
                        <td class="header-td td-task-title">
                            Задача
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-executor">
                            Исполнитель
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-put">
                            Поставил
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-data">
                            Поставлена
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-play">
                            Начата
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-term">
                            Срок
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-status">
                            Статус
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-icon">

                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="title orange td-task-title">
                            <div class="td-task-title_block">
                                <a href="#info-task" class="btnPopup" data-width-popup="1315" data-map="maps-task">
                                    Техническое обслуживание вышек связи в районе села Кукуевка
                                </a>
                            </div>
                        </td>
                        <td class="td-executor">
                            <div class="td-executor_block">
                                Петр Прокофьев<span class="icon-clock tooltip-h" data-toggle="tooltip" data-html="true" title="<p class='bold-t'>GMT +4</p><p>разница +2 часа</p>"></span>
                            </div>
                        </td>
                        <td class="td-put">
                            <div class="td-put_block">
                                Константин Евстегнеевский
                            </div>
                        </td>
                        <td class="td-data">
                            <div class="td-data_block">
                                25.05.17<br>
                                14:00
                            </div>
                        </td>
                        <td class="td-play">
                            <div class="td-play_block">
                                25.05.17<br>
                                14:10
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                27.05.17<br>
                                11:00
                            </div>
                        </td>
                        <td class="orange td-status">
                            <div class="td-status_block">
                                Открыта
                                просрочена
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#chat" class="icon-mes btnPopup" data-width-popup="730">
                                    <div class="number-active">
                                        1
                                    </div>
                                </a>
                                <div class="icon-dist tooltip-h" data-toggle="tooltip" data-html="true" title="<p>1 нарушение</p>">
                                    <div class="number-active">
                                        1
                                    </div>
                                </div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit">

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="title orange">
                            <div class="td-task-title_block">
                                Установка мачт освещения по ул. Комсомольской в посёлке Иваново
                            </div>
                        </td>
                        <td>
                            <div class="td-executor_block">
                                Анастасия Бровкина и ещё 3
                            </div>
                        </td>
                        <td class="td-put">
                            <div class="td-put_block">
                                Константин Евстегнеевский
                            </div>
                        </td>
                        <td class="td-data">
                            <div class="td-data_block">
                                25.05.17<br>
                                14:20
                            </div>
                        </td>
                        <td class="td-play">
                            <div class="td-play_block">
                                25.05.17<br>
                                15:40
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                27.05.17<br>
                                11:30
                            </div>
                        </td>
                        <td class="orange td-status">
                            <div class="td-status_block">
                                Открыта
                                просрочена
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#" class="icon-mes"></a>
                                <div class="icon-dist tooltip-h" data-toggle="tooltip" data-html="true" title="<p>6 нарушений</p>">
                                    <div class="number-active">
                                        1
                                    </div>
                                </div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit">

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="title black">
                            <div class="td-task-title_block">
                                Работы по специальному наряду
                            </div>
                        </td>
                        <td>
                            <div class="td-executor_block">
                                Анатолий Васильев и ещё 3
                            </div>
                        </td>
                        <td class="td-put">
                            <div class="td-put_block">
                                Константин Евстегнеевский
                            </div>
                        </td>
                        <td class="td-data">
                            <div class="td-data_block">
                                25.05.17<br>
                                15:10
                            </div>
                        </td>
                        <td class="td-play">
                            <div class="td-play_block">
                                25.05.17<br>
                                15:34
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                27.05.17<br>
                                12:30
                            </div>
                        </td>
                        <td class="black td-status">
                            <div class="td-status_block">
                                Открыта
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#" class="icon-mes">
                                    <div class="number-active">
                                        1
                                    </div>
                                </a>
                                <div class="icon-dist tooltip-h"></div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit">

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="title red">
                            <div class="td-task-title_block">
                                Монтаж оборудования производственной части на подстанции связи РНТ 12 765
                            </div>
                        </td>
                        <td>
                            <div class="td-executor_block">
                                Бригада монтёров 3
                            </div>
                        </td>
                        <td class="td-put">
                            <div class="td-put_block">
                                Константин Евстегнеевский
                            </div>
                        </td>
                        <td class="td-data">
                            <div class="td-data_block">
                                25.05.17<br>
                                15:30
                            </div>
                        </td>
                        <td class="td-play">
                            <div class="td-play_block">
                                -
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                27.05.17<br>
                                08:40
                            </div>
                        </td>
                        <td class="red td-status">
                            <div class="td-status_block">
                                Выполнена
                                не в геозоне
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#" class="icon-mes"></a>
                                <div class="icon-addit btnStatusTask">
                                    <div class="block-icon-addit">
                                    </div>
                                    <div class="block-status-task">
                                        <a href="#">Вернуть в работу</a>
                                        <a href="#">Назначить заново</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="title green">
                            <div class="td-task-title_block">
                                Срочные зимние курсы
                            </div>
                        </td>
                        <td>
                            <div class="td-executor_block">
                                Анастасия Бровкина и ещё 3
                            </div>
                        </td>
                        <td class="td-put">
                            <div class="td-put_block">
                                Константин Евстегнеевский
                            </div>
                        </td>
                        <td class="td-data">
                            <div class="td-data_block">
                                25.05.17<br>
                                16:00
                            </div>
                        </td>
                        <td class="td-play">
                            <div class="td-play_block">
                                25.05.17<br>
                                16:04
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                28.05.17<br>
                                12:00
                            </div>
                        </td>
                        <td class="green td-status">
                            <div class="td-status_block">
                                Выполнена
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td class="title orange">
                            <div class="td-task-title_block">
                                Доставка спец. документации подрядчику
                            </div>
                        </td>
                        <td>
                            <div class="td-executor_block">
                                Анна Акентьева
                            </div>
                        </td>
                        <td class="td-put">
                            <div class="td-put_block">
                                Константин Евстегнеевский
                            </div>
                        </td>
                        <td class="td-data">
                            <div class="td-data_block">
                                26.05.17<br>
                                16:30
                            </div>
                        </td>
                        <td class="td-play">
                            <div class="td-play_block">
                                26.05.17<br>
                                17:00
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                -
                            </div>
                        </td>
                        <td class="orange td-status">
                            <div class="td-status_block">
                                Пауза
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="title red">
                            <div class="td-task-title_block">
                                Техническое обслуживание вышек связи в  городе Печинск Техническое обслуживание вышек связи в  городе Печинск Техническоое обслуживание выше
                            </div>
                        </td>
                        <td>
                            <div class="td-executor_block">
                                Бригада монтёров 1
                            </div>
                        </td>
                        <td class="td-put">
                            <div class="td-put_block">
                                Константин Евстегнеевский
                            </div>
                        </td>
                        <td class="td-data">
                            <div class="td-data_block">
                                26.05.17<br>
                                17:20
                            </div>
                        </td>
                        <td class="td-play">
                            <div class="td-play_block">
                                27.05.17<br>
                                08:20
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                27.05.17<br>
                                12:20
                            </div>
                        </td>
                        <td class="red td-status">
                            <div class="td-status_block">
                                Выполнена
                                с опозданием
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="title orange">
                            <div class="td-task-title_block">
                                Техническое обслуживание вышек связи в районе села Кукуевка
                            </div>
                        </td>
                        <td>
                            <div class="td-executor_block">
                                Петр Прокофьев
                            </div>
                        </td>
                        <td class="td-put">
                            <div class="td-put_block">
                                Константин Евстегнеевский
                            </div>
                        </td>
                        <td class="td-data">
                            <div class="td-data_block">
                                25.05.17<br>
                                14:00
                            </div>
                        </td>
                        <td class="td-play">
                            <div class="td-play_block">
                                25.05.17<br>
                                14:10
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                27.05.17<br>
                                11:00
                            </div>
                        </td>
                        <td class="orange td-status">
                            <div class="td-status_block">
                                Открыта
                                просрочена
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="title orange">
                            <div class="td-task-title_block">
                                Установка мачт освещения по ул. Комсомольской в посёлке Иваново
                            </div>
                        </td>
                        <td>
                            <div class="td-executor_block">
                                Анастасия Бровкина и ещё 3
                            </div>
                        </td>
                        <td class="td-put">
                            <div class="td-put_block">
                                Константин Евстегнеевский
                            </div>
                        </td>
                        <td class="td-data">
                            <div class="td-data_block">
                                25.05.17<br>
                                14:20
                            </div>
                        </td>
                        <td class="td-play">
                            <div class="td-play_block">
                                25.05.17<br>
                                15:40
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                27.05.17<br>
                                11:30
                            </div>
                        </td>
                        <td class="orange td-status">
                            <div class="td-status_block">
                                Открыта
                                просрочена
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="title black">
                            <div class="td-task-title_block">
                                Работы по специальному наряду
                            </div>
                        </td>
                        <td>
                            <div class="td-executor_block">
                                Анатолий Васильев и ещё 3
                            </div>
                        </td>
                        <td class="td-put">
                            <div class="td-put_block">
                                Константин Евстегнеевский
                            </div>
                        </td>
                        <td class="td-data">
                            <div class="td-data_block">
                                25.05.17<br>
                                15:10
                            </div>
                        </td>
                        <td class="td-play">
                            <div class="td-play_block">
                                25.05.17<br>
                                15:34
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                27.05.17<br>
                                12:30
                            </div>
                        </td>
                        <td class="black td-status">
                            <div class="td-status_block">
                                Открыта
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="title red">
                            <div class="td-task-title_block">
                                Монтаж оборудования производственной части на подстанции связи РНТ 12 765
                            </div>
                        </td>
                        <td>
                            <div class="td-executor_block">
                                Бригада монтёров 3
                            </div>
                        </td>
                        <td class="td-put">
                            <div class="td-put_block">
                                Константин Евстегнеевский
                            </div>
                        </td>
                        <td class="td-data">
                            <div class="td-data_block">
                                25.05.17<br>
                                15:30
                            </div>
                        </td>
                        <td class="td-play">
                            <div class="td-play_block">
                                -
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                27.05.17<br>
                                08:40
                            </div>
                        </td>
                        <td class="red td-status">
                            <div class="td-status_block">
                                Выполнена
                                не в геозоне
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="block-btn-filter btnFilterTask"></div>
        <div class="block-filter-task-table">
            <div class="block-filter-task-table_title">Отображать столбцы</div>
            <div class="block-filter-task-table_btn-close btnCloseFilterTask">+</div>
            <div class="block-filter-task-table_list">
                <ul>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f1">
                            <span class="checkbox-custom"></span>
                            <label for="f1">Номер задания</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f2">
                            <span class="checkbox-custom"></span>
                            <label for="f2">Исполнитель</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f3">
                            <span class="checkbox-custom"></span>
                            <label for="f3">Поставил</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f4">
                            <span class="checkbox-custom"></span>
                            <label for="f4">Поставлена</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f5">
                            <span class="checkbox-custom"></span>
                            <label for="f5">Начата</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f6">
                            <span class="checkbox-custom"></span>
                            <label for="f6">Срок</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f7">
                            <span class="checkbox-custom"></span>
                            <label for="f7">Статус</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f8">
                            <span class="checkbox-custom"></span>
                            <label for="f8">Срочность</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f9">
                            <span class="checkbox-custom"></span>
                            <label for="f9">Тип</label>
                        </div>
                    </li>
                    <li>
                        <div class="block-filter-task">
                            <input type="checkbox" id="f10">
                            <span class="checkbox-custom"></span>
                            <label for="f10">Периодичность</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-page-nav">
        <div class="wrapper">
            <div class="block-impressions">
                Всего на странице <span>25</span><span class="drop-title"></span>
            </div>
            <div class="block-nav-page-task">
                <ul>
                    <li class="number-page active">
                        <a href="#">1</a>
                    </li>
                    <li class="number-page">
                        <a href="#">2</a>
                    </li>
                    <li class="number-page">
                        <a href="#">3</a>
                    </li>
                    <li class="number-page-interval">
                        <a href="#">...</a>
                    </li>
                    <li class="number-page">
                        <a href="#">78</a>
                    </li>
                    <li class="btn-next-page">
                        <a href="#">
                            <div class="icon-next-page"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


//= info-task.html