<div class="container-calendar-info">
    <div class="wrapper">
        <div class="container-table-calendar">
            <table class="table-filter-task" cellspacing="0">
                <thead>
                    <tr>
                        <td class="header-td td-task-title">
                            Задача
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-type-task">
                            Тип задачи
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-term">
                            Срок
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-period">
                            Периодичность
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-status">
                            Статус
                            <span class="drop-title"></span>
                        </td>
                        <td class="header-td td-icon">

                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="title orange td-task-title">
                            <div class="td-task-title_block">
                                <a href="#" class="btnPopup" data-width-popup="1315" data-map="maps-task">
                                    Доставка спец. документации подрядчику
                                </a>
                            </div>
                        </td>
                        <td class="td-type-task">
                            <div class="td-type-task_block">
                                Обычная
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                26.05.17<br>
                                16:30
                            </div>
                        </td>
                        <td class="td-period">
                            <div class="td-period_block">
                                Ежедневная
                            </div>
                        </td>
                        <td class="orange td-status">
                            <div class="td-status_block">
                                Пауза
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#chat" class="icon-mes btnPopup" data-width-popup="730">
                                    <div class="number-active">
                                        1
                                    </div>
                                </a>
                                <div class="icon-dist tooltip-h" data-toggle="tooltip" data-html="true" title="<p>1 нарушение</p>">
                                    <div class="number-active">
                                        1
                                    </div>
                                </div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit">

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="title orange td-task-title">
                            <div class="td-task-title_block">
                                <a href="#" class="btnPopup" data-width-popup="1315" data-map="maps-task">
                                    Доставка спец. документации подрядчику
                                </a>
                            </div>
                        </td>
                        <td class="td-type-task">
                            <div class="td-type-task_block">
                                Обычная
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                26.05.17<br>
                                16:30
                            </div>
                        </td>
                        <td class="td-period">
                            <div class="td-period_block">
                                Ежедневная
                            </div>
                        </td>
                        <td class="orange td-status">
                            <div class="td-status_block">
                                Пауза
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#chat" class="icon-mes btnPopup" data-width-popup="730">
                                    <div class="number-active">
                                        1
                                    </div>
                                </a>
                                <div class="icon-dist tooltip-h" data-toggle="tooltip" data-html="true" title="<p>1 нарушение</p>">
                                    <div class="number-active">
                                        1
                                    </div>
                                </div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit">

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title orange td-task-title">
                            <div class="td-task-title_block">
                                <a href="#" class="btnPopup" data-width-popup="1315" data-map="maps-task">
                                    Техническое обслуживание вышек связи в районе села Кукуевка
                                </a>
                            </div>
                        </td>
                        <td class="td-type-task">
                            <div class="td-type-task_block">
                                Периодическая
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                25.05.17<br>
                                14:00
                            </div>
                        </td>
                        <td class="td-period">
                            <div class="td-period_block">
                                Раз в год
                            </div>
                        </td>
                        <td class="orange td-status">
                            <div class="td-status_block">
                                Открыта
                                просрочена
                            </div>
                        </td>

                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#chat" class="icon-mes btnPopup" data-width-popup="730">
                                    <div class="number-active">
                                        1
                                    </div>
                                </a>
                                <div class="icon-dist tooltip-h" data-toggle="tooltip" data-html="true" title="<p>1 нарушение</p>">
                                    <div class="number-active">
                                        1
                                    </div>
                                </div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit">

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title orange td-task-title">
                            <div class="td-task-title_block">
                                <a href="#" class="btnPopup" data-width-popup="1315" data-map="maps-task">
                                    Техническое обслуживание вышек связи в районе села Кукуевка
                                </a>
                            </div>
                        </td>
                        <td class="td-type-task">
                            <div class="td-type-task_block">
                                Периодическая
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                25.05.17<br>
                                14:00
                            </div>
                        </td>
                        <td class="td-period">
                            <div class="td-period_block">
                                Раз в год
                            </div>
                        </td>
                        <td class="orange td-status">
                            <div class="td-status_block">
                                Открыта
                                просрочена
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#chat" class="icon-mes btnPopup" data-width-popup="730">
                                    <div class="number-active">
                                        1
                                    </div>
                                </a>
                                <div class="icon-dist tooltip-h" data-toggle="tooltip" data-html="true" title="<p>1 нарушение</p>">
                                    <div class="number-active">
                                        1
                                    </div>
                                </div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit">

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title orange td-task-title">
                            <div class="td-task-title_block">
                                <a href="#" class="btnPopup" data-width-popup="1315" data-map="maps-task">
                                    Установка мачт освещения по ул. Комсомольской в посёлке Иваново
                                </a>
                            </div>
                        </td>
                        <td class="td-type-task">
                            <div class="td-type-task_block">
                                Обычная
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                25.05.17<br>
                                14:20
                            </div>
                        </td>
                        <td class="td-period">
                            <div class="td-period_block">
                                Раз в неделю
                            </div>
                        </td>
                        <td class="orange td-status">
                            <div class="td-status_block">
                                Открыта
                                просрочена
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#chat" class="icon-mes btnPopup" data-width-popup="730">
                                    <div class="number-active">
                                        1
                                    </div>
                                </a>
                                <div class="icon-dist tooltip-h" data-toggle="tooltip" data-html="true" title="<p>1 нарушение</p>">
                                    <div class="number-active">
                                        1
                                    </div>
                                </div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit">

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title orange td-task-title">
                            <div class="td-task-title_block">
                                <a href="#" class="btnPopup" data-width-popup="1315" data-map="maps-task">
                                    Установка мачт освещения по ул. Комсомольской в посёлке Иваново
                                </a>
                            </div>
                        </td>
                        <td class="td-type-task">
                            <div class="td-type-task_block">
                                Обычная
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                25.05.17<br>
                                14:20
                            </div>
                        </td>
                        <td class="td-period">
                            <div class="td-period_block">
                                Раз в неделю
                            </div>
                        </td>
                        <td class="orange td-status">
                            <div class="td-status_block">
                                Открыта
                                просрочена
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#chat" class="icon-mes btnPopup" data-width-popup="730">
                                    <div class="number-active">
                                        1
                                    </div>
                                </a>
                                <div class="icon-dist tooltip-h" data-toggle="tooltip" data-html="true" title="<p>1 нарушение</p>">
                                    <div class="number-active">
                                        1
                                    </div>
                                </div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit">

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title black td-task-title">
                            <div class="td-task-title_block">
                                <a href="#" class="btnPopup" data-width-popup="1315" data-map="maps-task">
                                    Работы по специальному наряду
                                </a>
                            </div>
                        </td>
                        <td class="td-type-task">
                            <div class="td-type-task_block">
                                Периодическая
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                25.05.17<br>
                                15:10
                            </div>
                        </td>
                        <td class="td-period">
                            <div class="td-period_block">
                                Раз в месяц
                            </div>
                        </td>
                        <td class="black td-status">
                            <div class="td-status_block">
                                Открыта
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#chat" class="icon-mes btnPopup" data-width-popup="730">
                                    <div class="number-active">
                                        1
                                    </div>
                                </a>
                                <div class="icon-addit">
                                    <div class="block-icon-addit">

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title black td-task-title">
                            <div class="td-task-title_block">
                                <a href="#" class="btnPopup" data-width-popup="1315" data-map="maps-task">
                                    Работы по специальному наряду
                                </a>
                            </div>
                        </td>
                        <td class="td-type-task">
                            <div class="td-type-task_block">
                                Периодическая
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                25.05.17<br>
                                15:10
                            </div>
                        </td>
                        <td class="td-period">
                            <div class="td-period_block">
                                Раз в месяц
                            </div>
                        </td>
                        <td class="black td-status">
                            <div class="td-status_block">
                                Открыта
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#chat" class="icon-mes btnPopup" data-width-popup="730">
                                    <div class="number-active">
                                        1
                                    </div>
                                </a>
                                <div class="icon-addit">
                                    <div class="block-icon-addit">

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title red td-task-title">
                            <div class="td-task-title_block">
                                <a href="#" class="btnPopup" data-width-popup="1315" data-map="maps-task">
                                    Монтаж оборудования производственной части на подстанции связи РНТ 12 765
                                </a>
                            </div>
                        </td>
                        <td class="td-type-task">
                            <div class="td-type-task_block">
                                Срочная
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                25.05.17<br>
                                15:30
                            </div>
                        </td>
                        <td class="td-period">
                            <div class="td-period_block">
                                Раз в год
                            </div>
                        </td>
                        <td class="red td-status">
                            <div class="td-status_block">
                                Выполнена
                                не в геозоне
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#chat" class="icon-mes btnPopup" data-width-popup="730">
                                    <div class="number-active">
                                        1
                                    </div>
                                </a>
                                <div class="icon-dist tooltip-h" data-toggle="tooltip" data-html="true" title="<p>1 нарушение</p>">
                                    <div class="number-active">
                                        1
                                    </div>
                                </div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit">

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title red td-task-title">
                            <div class="td-task-title_block">
                                <a href="#" class="btnPopup" data-width-popup="1315" data-map="maps-task">
                                    Монтаж оборудования производственной части на подстанции связи РНТ 12 765
                                </a>
                            </div>
                        </td>
                        <td class="td-type-task">
                            <div class="td-type-task_block">
                                Срочная
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                25.05.17<br>
                                15:30
                            </div>
                        </td>
                        <td class="td-period">
                            <div class="td-period_block">
                                Раз в год
                            </div>
                        </td>
                        <td class="red td-status">
                            <div class="td-status_block">
                                Выполнена
                                не в геозоне
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#chat" class="icon-mes btnPopup" data-width-popup="730">
                                    <div class="number-active">
                                        1
                                    </div>
                                </a>
                                <div class="icon-dist tooltip-h" data-toggle="tooltip" data-html="true" title="<p>1 нарушение</p>">
                                    <div class="number-active">
                                        1
                                    </div>
                                </div>
                                <div class="icon-addit">
                                    <div class="block-icon-addit">

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title black td-task-title">
                            <div class="td-task-title_block">
                                <a href="#" class="btnPopup" data-width-popup="1315" data-map="maps-task">
                                    Срочные зимние курсы
                                </a>
                            </div>
                        </td>
                        <td class="td-type-task">
                            <div class="td-type-task_block">
                                Срочная
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                25.05.17<br>
                                16:00
                            </div>
                        </td>
                        <td class="td-period">
                            <div class="td-period_block">
                                Раз в месяц
                            </div>
                        </td>
                        <td class="black td-status">
                            <div class="td-status_block">
                                Открыта
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#chat" class="icon-mes btnPopup" data-width-popup="730">
                                    <div class="number-active">
                                        1
                                    </div>
                                </a>
                                <div class="icon-addit">
                                    <div class="block-icon-addit">

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title black td-task-title">
                            <div class="td-task-title_block">
                                <a href="#" class="btnPopup" data-width-popup="1315" data-map="maps-task">
                                    Срочные зимние курсы
                                </a>
                            </div>
                        </td>
                        <td class="td-type-task">
                            <div class="td-type-task_block">
                                Срочная
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                25.05.17<br>
                                16:00
                            </div>
                        </td>
                        <td class="td-period">
                            <div class="td-period_block">
                                Раз в месяц
                            </div>
                        </td>
                        <td class="black td-status">
                            <div class="td-status_block">
                                Открыта
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#chat" class="icon-mes btnPopup" data-width-popup="730">
                                    <div class="number-active">
                                        1
                                    </div>
                                </a>
                                <div class="icon-addit">
                                    <div class="block-icon-addit">

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title black td-task-title">
                            <div class="td-task-title_block">
                                <a href="#" class="btnPopup" data-width-popup="1315" data-map="maps-task">
                                    Срочные зимние курсы
                                </a>
                            </div>
                        </td>
                        <td class="td-type-task">
                            <div class="td-type-task_block">
                                Срочная
                            </div>
                        </td>
                        <td class="td-term">
                            <div class="td-term_block">
                                25.05.17<br>
                                16:00
                            </div>
                        </td>
                        <td class="td-period">
                            <div class="td-period_block">
                                Раз в месяц
                            </div>
                        </td>
                        <td class="black td-status">
                            <div class="td-status_block">
                                Открыта
                            </div>
                        </td>
                        <td class="td-icon">
                            <div class="td-icon_block">
                                <div class="icon-phone"></div>
                                <a href="#chat" class="icon-mes btnPopup" data-width-popup="730">
                                    <div class="number-active">
                                        1
                                    </div>
                                </a>
                                <div class="icon-addit">
                                    <div class="block-icon-addit">

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="block-number-tasks">
                Всего <span>25</span>
            </div>
        </div>
        <div class="container-calendar-repeat">
            <div class="container-calendar-repeat_title">
                Повторять задачу
            </div>
            <div class="container-input">
                <div class="block-input-label">
                    <label>Повтор</label>
                    <!--<input type="text">-->
                    <div class="block-select">
                        <div class="icon-select"></div>
                        <select class="gray-s">
                            <option>По мясацам</option>
                            <option>По годам</option>
                            <option>По дням</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="container-input">
                <div class="container-input-50">
                    <div class="block-input-label">
                        <label>Интервал</label>
                        <!--<input type="text">-->
                        <div class="block-select">
                            <div class="icon-select"></div>
                            <select class="gray-s">
                                <option>1 мясаца</option>
                                <option>2 мясаца</option>
                                <option>3 мясаца</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container-input-50">
                    <div class="block-input-label">
                        <label>Выводить</label>
                        <div class="block-select">
                            <div class="icon-select"></div>
                            <select class="gray-s">
                                <option>По числам</option>
                                <option>По неделям</option>ыыыы
                                <option>По месяцам</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-input">
                <div class="container-input-35">
                    <div class="block-input-label">
                        <label>Интервал</label>
                        <!--<input type="text">-->
                        <div class="block-data">
                            <i class="icon-cal"></i>
                            Дата
                        </div>
                    </div>
                </div>
                <div class="container-input-35">
                    <div class="block-input-label">
                        <label>Окончание</label>
                        <div class="block-select">
                            <div class="icon-select"></div>
                            <select class="gray-s">
                                <option>Никогда</option>
                                <option>Завтра</option>
                                <option>Через неделю</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-input">
                <div class="block-data-number">
                    <div class="block-data-number_number">1</div>
                    <div class="block-data-number_number">2</div>
                    <div class="block-data-number_number active">3</div>
                    <div class="block-data-number_number">4</div>
                    <div class="block-data-number_number">5</div>
                    <div class="block-data-number_number">6</div>
                    <div class="block-data-number_number">7</div>
                    <div class="block-data-number_number active">8</div>
                    <div class="block-data-number_number">9</div>
                    <div class="block-data-number_number">10</div>
                    <div class="block-data-number_number">11</div>
                    <div class="block-data-number_number">12</div>
                    <div class="block-data-number_number">13</div>
                    <div class="block-data-number_number">14</div>
                    <div class="block-data-number_number">15</div>
                    <div class="block-data-number_number">16</div>
                    <div class="block-data-number_number">17</div>
                    <div class="block-data-number_number">18</div>
                    <div class="block-data-number_number active">19</div>
                    <div class="block-data-number_number">20</div>
                    <div class="block-data-number_number">21</div>
                    <div class="block-data-number_number">22</div>
                    <div class="block-data-number_number">23</div>
                    <div class="block-data-number_number">24</div>
                    <div class="block-data-number_number">25</div>
                    <div class="block-data-number_number">26</div>
                    <div class="block-data-number_number">27</div>
                    <div class="block-data-number_number">28</div>
                    <div class="block-data-number_number">29</div>
                    <div class="block-data-number_number">30</div>
                    <div class="block-data-number_number active">31</div>
                </div>
            </div>
        </div>
    </div>

</div>