<div id="addsubdivision" class="container-new-personal">
    <div class="container-add-personal">
        <div class="header-task">
            <div class="header-task_title">
                Добавить родительское подразделение
            </div>
        </div>
    </div>
    <div class="container-group-t">
        <div class="container-input">
            <div class="block-input-label">
                <label>Название категории</label>
                <input type="text">
            </div>
        </div>
        <div class="container-input">
            <div class="block-input-label block-lic-edit">
                <label>Лицензии</label>
                <input type="text">
                <span class="block-number">Свободно: 25 </span>
            </div>
            <div class="block-input-label block-icon-edit">
                <label>Иконка</label>
                <div class="block-avatar-edit_img">
                    <div class="avatar-img"></div>
                </div>
                <div class="block-icon-edit_btn">
                    + Сменить
                </div>
            </div>
        </div>
    </div>
    <div class="container-btn-bottom">
        <div class="block-btn-bottom_btn float-r">
            <div class="block-bnt-blue display-top">
                + Добавить
            </div>
        </div>
    </div>
</div>